## Final Project Submission

Please fill out:
* Student name: Gideon Miles, Stephanie Ciaccia, Luke Sims
* Student pace: full time
* Scheduled project review date/time: 3-10-2023
* Instructor name: Daniel

# __Importing Pandas/Numpy/Zipfile__

In [3]:
# importing pandas, numpy and zipfile
import zipfile
import pandas as pd
import datetime
import numpy as np
from dateutil.relativedelta import relativedelta
import json
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
from matplotlib import font_manager
from matplotlib.ticker import StrMethodFormatter
import seaborn as sns
import sqlite3
from datetime import datetime
import requests
import gzip
import zipfile
import csv

# __Data #1 - TV Movies Budget (from class - box office mogo)__

### Data Scources In The
#### Data Sourced From 
Data for this section was sourced from Flatiron school's provided data set.  To avoid skewing from COVID this data excluded COVID preformance.

In [4]:
## opening read file
budget = pd.read_csv('zippedData/tn.movie_budgets.csv.gz',compression='gzip')

In [5]:
## removing $ and , from Production Budget and and changing type to integer

budget['production_budget'] = budget['production_budget'].str.replace('$', '')
budget['production_budget'] = budget['production_budget'].str.replace(',', '')
budget['production_budget'] = budget['production_budget'].astype(int)

## removing $ and , from Domestic Gross and and changing type to integer

budget['domestic_gross'] = budget['domestic_gross'].str.replace('$', '')
budget['domestic_gross'] = budget['domestic_gross'].str.replace(',', '')
budget['domestic_gross'] = budget['domestic_gross'].astype(int)

## removing $ and , from Worldwide Gross and changing type to integer

budget['worldwide_gross'] = budget['worldwide_gross'].str.replace('$', '')
budget['worldwide_gross'] = budget['worldwide_gross'].str.replace(',', '')
budget['worldwide_gross'] = budget['worldwide_gross'].astype(int)

In [6]:
# creating new column release year

budget['release_year'] = pd.DatetimeIndex(budget['release_date']).year

In [7]:
# changing type of release Date to datetime

budget['release_date'] = pd.to_datetime(budget['release_date'])

In [8]:
# converting 'release_date' column type from integer to datetime

budget['release_date'] = pd.to_datetime(budget['release_date'])

In [9]:
# renaming movie column to title
budget = budget.rename(columns = {"movie":"title"})

# _Data #1  - analyzing TV movies Budget_

In [10]:
#finding datset age range and ranges 105 years

oldest_movie = min(budget['release_date'])
newest_movie = max(budget['release_date'])
movie_range = relativedelta(newest_movie, oldest_movie).years

print(oldest_movie)
print(newest_movie)
print(movie_range)

1915-02-08 00:00:00
2020-12-31 00:00:00
105

In [11]:
##defining and sorting top 20 grossing movies

top_gross_movies = budget.sort_values(by="worldwide_gross",ascending=False).head(20)
top_gross_movies

,id,release_date,title,production_budget,domestic_gross,worldwide_gross,release_year
0,1,2009-12-18,Avatar,425000000,760507625,2776345279,2009
42,43,1997-12-19,Titanic,200000000,659363944,2208208395,1997
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2053311220,2015
6,7,2018-04-27,Avengers: Infinity War,300000000,678815482,2048134200,2018
33,34,2015-06-12,Jurassic World,215000000,652270625,1648854864,2015
66,67,2015-04-03,Furious 7,190000000,353007020,1518722794,2015
26,27,2012-05-04,The Avengers,225000000,623279547,1517935897,2012
3,4,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963,2015
41,42,2018-02-16,Black Panther,200000000,700059566,1348258224,2018
260,61,2011-07-15,Harry Potter and the Deathly Hallows: Part II,125000000,381193157,1341693157,2011
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,2017
112,13,2018-06-22,Jurassic World: Fallen Kingdom,170000000,417719760,1305772799,2018
155,56,2013-11-22,Frozen,150000000,400738009,1272469910,2013
134,35,2017-03-17,Beauty and the Beast,160000000,504014165,1259199706,2017
43,44,2018-06-15,Incredibles 2,200000000,608581744,1242520711,2018
22,23,2017-04-14,The Fate of the Furious,250000000,225764765,1234846267,2017
47,48,2013-05-03,Iron Man 3,200000000,408992272,1215392272,2013
672,73,2015-07-10,Minions,74000000,336045770,1160336173,2015
135,36,2018-12-21,Aquaman,160000000,335061807,1146894640,2018
425,26,2003-12-17,The Lord of the Rings: The Return of the King,94000000,377845905,1141403341,2003

# Data Source #2 - Top Rated Movies - pulled from TMBD API

### Data Scources In The
#### Data Sourced From 
TMDBs API, sourced this data as it included, movies up until 2022, as the other data sets did not include top preforming films from the past two years.

In [12]:
import requests
import pandas as pd


# creating loop to pull 8000 records from top rated movies
# set page numbers
page = 1
total_pages = 400

# empty list
data_list = []

# loop to iterate
while page <= total_pages:
    # make a request to the API with the current page number
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=' + str(page))

    # response
    data = response.json()['results']
    
    #append data to list
    data_list.append(data)

    #increase page number
    page += 1

In [13]:
# pulling keys

response.json().keys()

dict_keys(['page', 'results', 'total_pages', 'total_results'])

In [14]:
# concatenate the data into a pandas DataFrame -

top_movies = pd.concat([pd.DataFrame(data) for data in data_list], ignore_index=True)

In [15]:
#reindexing dataframe

top_movies = top_movies .reset_index(drop=True)

In [16]:
# split the list into columns
split_movies = top_movies ['genre_ids'].apply(pd.Series)

#renaming the columns
split_movies = split_movies.rename(columns=lambda x: f'col_{x+1}')

# add the new columns back to top_rated DataFrame
top_movies = pd.concat([top_movies, split_movies], axis=1)

In [17]:
#dropping null values

top_movies.dropna(axis=0, how='any', subset=['title'], inplace=True)

In [18]:
#dropping columns that aren't needed

top_movies = top_movies.drop(['adult', 'backdrop_path', 'genre_ids', 'poster_path', 'video',
                          'original_language', 'overview','col_7', 'col_8', 'col_9'], axis=1)

In [19]:
#renaming the genre columns
top_movies.rename(columns = {'col_1':'genre_id_1','col_2':'genre_id_2','col_3':'genre_id_3',
                            'col_4':'genre_id_4', 'col_5':'genre_id_5', 'col_6':'genre_id_6'}, inplace = True)

In [20]:
##changing N/A variables to 0

top_movies = top_movies.fillna(0)

In [21]:
# converting  column type from float64 to int

top_movies[['genre_id_1','genre_id_2','genre_id_3','genre_id_4','genre_id_5','genre_id_6']] = top_movies[['genre_id_1','genre_id_2','genre_id_3','genre_id_4','genre_id_5','genre_id_6']].astype(int)

In [22]:
# changing title type to string
top_movies['title'] = top_movies['title'].astype('str')

In [23]:
##converting 'release_date' column type from integer to datetime

top_movies['release_date'] = pd.to_datetime(top_movies['release_date'])

In [24]:
# information about first and last movie entry in data

first_movie = min(top_movies['release_date'])
last_movie = max(top_movies['release_date'])

print(first_movie)
print(last_movie)

1895-06-10 00:00:00
2023-03-01 00:00:00

# Data Source #2  - Analyzing & Visualizing

In [25]:
top_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8000 entries, 0 to 7999
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              8000 non-null   int64
 1   original_title  8000 non-null   object
 2   popularity      8000 non-null   float64
 3   release_date    8000 non-null   datetime64[ns]
 4   title           8000 non-null   object
 5   vote_average    8000 non-null   float64
 6   vote_count      8000 non-null   int64
 7   genre_id_1      8000 non-null   int64
 8   genre_id_2      8000 non-null   int64
 9   genre_id_3      8000 non-null   int64
 10  genre_id_4      8000 non-null   int64
 11  genre_id_5      8000 non-null   int64
 12  genre_id_6      8000 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(8), object(2)
memory usage: 875.0+ KB

In [26]:
# creating df of most popular films by popularity

most_popular = top_movies.sort_values(by='popularity',ascending=False).head(20)

In [27]:
# creating new dataframe with only the top genres

top_genres = top_movies[['genre_id_1','genre_id_2', 'genre_id_3', 'genre_id_4', 'genre_id_5', 'genre_id_6']].apply(pd.Series.value_counts)

In [28]:
# changing N/A variables to 0
top_genres = top_genres.fillna(0)

In [29]:
# creating a genre total column that sums up the total values and making it a integer
top_genres['genre_total'] = top_genres.sum(axis=1)

In [30]:
# dropping first row
top_genres.drop([0],inplace=True)

In [31]:
# creating column with the genre names

top_genres['genre_name'] = ['Adventure','Fantasy','Animation','Drama','Horror',
                            'Action','Comedy','History','Western','Thriller',
                            'Crime','Science Fiction', 'Mystery', 'Music','Romance',
                            'Family', 'War', 'TV Movie']

In [32]:
# creating a percent column

top_genres['percent'] = ((top_genres['genre_total'] / top_genres['genre_total'].sum()) * 100)

In [33]:
# creating new df with only the genre ids to graph

top_genres_total= top_genres.drop(columns=['genre_id_1', 'genre_id_2','genre_id_3','genre_id_4',
                                          'genre_id_5','genre_id_6'])

In [34]:
##changing order of the columns

top_genres_total = top_genres_total [['genre_name', 'genre_total']]
top_genres_total = top_genres_total.sort_values(by='genre_total',ascending=False).head(20)

# Data Source #2 -  Analyzing Sub-genres

In [35]:
# ADVENTURE DRAMA

# could not figure out how to do this in a loop, so used the isin statement
#to pull records that have the genre from all genre columns and then merged the records and removed duplicates
# https://stackoverflow.com/questions/19125091/pandas-merge-how-to-avoid-duplicating-columns

#genre 1 - ADVENTURE

genre_columns_one = ['genre_id_1','genre_id_2', 'genre_id_3', 'genre_id_4', 'genre_id_5', 'genre_id_6']
sub_genre_one = top_movies[genre_columns_one].isin([18]).any(axis=1)
top_sub_genres_one = top_movies[sub_genre_one]
top_sub_genres_one

#genre 2 - DRAMA
genre_columns_two = ['genre_id_1','genre_id_2', 'genre_id_3', 'genre_id_4', 'genre_id_5', 'genre_id_6']
sub_genre_two = top_movies[genre_columns_two].isin([12]).any(axis=1)
top_sub_genres_two = top_movies[sub_genre_two]
top_sub_genres_two

#merge based on title

merged_genre_18_12 = pd.merge(top_sub_genres_one,top_sub_genres_two, on="title", how="inner",left_index=True,
                           right_index=True, suffixes=('', '_remove'))
 
# remove the duplicate columns
merged_genre_18_12.drop([i for i in merged_genre_18_12.columns if 'remove' in i],
               axis=1, inplace=True)

In [36]:
# COMEDY DRAMA

#genre 1 - DRAMA

genre_columns_one = ['genre_id_1','genre_id_2', 'genre_id_3', 'genre_id_4', 'genre_id_5', 'genre_id_6']
sub_genre_one = top_movies[genre_columns_one].isin([18]).any(axis=1)
top_sub_genres_one = top_movies[sub_genre_one]
top_sub_genres_one

#genre 2 - COMEDY
genre_columns_two = ['genre_id_1','genre_id_2', 'genre_id_3', 'genre_id_4', 'genre_id_5', 'genre_id_6']
sub_genre_two = top_movies[genre_columns_two].isin([35]).any(axis=1)
top_sub_genres_two = top_movies[sub_genre_two]
top_sub_genres_two

#merge based on title

merged_genre_18_35 = pd.merge(top_sub_genres_one,top_sub_genres_two, on="title", how="inner",left_index=True,
                           right_index=True, suffixes=('', '_remove'))
 
# remove the duplicate columns
merged_genre_18_35.drop([i for i in merged_genre_18_35.columns if 'remove' in i],
               axis=1, inplace=True)

In [37]:
# FANTASY DRAMA

#genre 1 - DRAMA

genre_columns_one = ['genre_id_1','genre_id_2', 'genre_id_3', 'genre_id_4', 'genre_id_5', 'genre_id_6']
sub_genre_one = top_movies[genre_columns_one].isin([18]).any(axis=1)
top_sub_genres_one = top_movies[sub_genre_one]
top_sub_genres_one

#genre 2 - FANTASY
genre_columns_two = ['genre_id_1','genre_id_2', 'genre_id_3', 'genre_id_4', 'genre_id_5', 'genre_id_6']
sub_genre_two = top_movies[genre_columns_two].isin([14]).any(axis=1)
top_sub_genres_two = top_movies[sub_genre_two]
top_sub_genres_two

#merge based on title

merged_genre_18_14 = pd.merge(top_sub_genres_one,top_sub_genres_two, on="title", how="inner",left_index=True,
                           right_index=True, suffixes=('', '_remove'))
 
# remove the duplicate columns
merged_genre_18_14.drop([i for i in merged_genre_18_14.columns if 'remove' in i],
               axis=1, inplace=True)

In [38]:
# ROMANCE DRAMA

#genre 1 - DRAMA

genre_columns_one = ['genre_id_1','genre_id_2', 'genre_id_3', 'genre_id_4', 'genre_id_5', 'genre_id_6']
sub_genre_one = top_movies[genre_columns_one].isin([18]).any(axis=1)
top_sub_genres_one = top_movies[sub_genre_one]
top_sub_genres_one

#genre 2 - ROMANCE
genre_columns_two = ['genre_id_1','genre_id_2', 'genre_id_3', 'genre_id_4', 'genre_id_5', 'genre_id_6']
sub_genre_two = top_movies[genre_columns_two].isin([10749]).any(axis=1)
top_sub_genres_two = top_movies[sub_genre_two]
top_sub_genres_two

#merge based on title

merged_genre_18_10749 = pd.merge(top_sub_genres_one,top_sub_genres_two, on="title", how="inner",left_index=True,
                           right_index=True, suffixes=('', '_remove'))
 
# remove the duplicate columns
merged_genre_18_10749.drop([i for i in merged_genre_18_10749.columns if 'remove' in i],
               axis=1, inplace=True)

In [39]:
# ACTION DRAMA

#genre 1 - DRAMA

genre_columns_one = ['genre_id_1','genre_id_2', 'genre_id_3', 'genre_id_4', 'genre_id_5', 'genre_id_6']
sub_genre_one = top_movies[genre_columns_one].isin([18]).any(axis=1)
top_sub_genres_one = top_movies[sub_genre_one]
top_sub_genres_one

#genre 2 - ACTION
genre_columns_two = ['genre_id_1','genre_id_2', 'genre_id_3', 'genre_id_4', 'genre_id_5', 'genre_id_6']
sub_genre_two = top_movies[genre_columns_two].isin([28]).any(axis=1)
top_sub_genres_two = top_movies[sub_genre_two]
top_sub_genres_two

#merge based on title

merged_genre_18_28 = pd.merge(top_sub_genres_one,top_sub_genres_two, on="title", how="inner",left_index=True,
                           right_index=True, suffixes=('', '_remove'))
 
# remove the duplicate columns
merged_genre_18_28.drop([i for i in merged_genre_18_28.columns if 'remove' in i],
               axis=1, inplace=True)

In [40]:
# CRIME DRAMA

#genre 1 - DRAMA

genre_columns_one = ['genre_id_1','genre_id_2', 'genre_id_3', 'genre_id_4', 'genre_id_5', 'genre_id_6']
sub_genre_one = top_movies[genre_columns_one].isin([18]).any(axis=1)
top_sub_genres_one = top_movies[sub_genre_one]
top_sub_genres_one

#genre 2 - CRIME
genre_columns_two = ['genre_id_1','genre_id_2', 'genre_id_3', 'genre_id_4', 'genre_id_5', 'genre_id_6']
sub_genre_two = top_movies[genre_columns_two].isin([80]).any(axis=1)
top_sub_genres_two = top_movies[sub_genre_two]
top_sub_genres_two

#merge based on title

merged_genre_18_80 = pd.merge(top_sub_genres_one,top_sub_genres_two, on="title", how="inner",left_index=True,
                           right_index=True, suffixes=('', '_remove'))
 
# remove the duplicate columns
merged_genre_18_80.drop([i for i in merged_genre_18_80.columns if 'remove' in i],
               axis=1, inplace=True)

In [41]:
# THRILLER DRAMA

#genre 1 - DRAMA

genre_columns_one = ['genre_id_1','genre_id_2', 'genre_id_3', 'genre_id_4', 'genre_id_5', 'genre_id_6']
sub_genre_one = top_movies[genre_columns_one].isin([18]).any(axis=1)
top_sub_genres_one = top_movies[sub_genre_one]
top_sub_genres_one

#genre 2 - FANTASY
genre_columns_two = ['genre_id_1','genre_id_2', 'genre_id_3', 'genre_id_4', 'genre_id_5', 'genre_id_6']
sub_genre_two = top_movies[genre_columns_two].isin([53]).any(axis=1)
top_sub_genres_two = top_movies[sub_genre_two]
top_sub_genres_two

#merge based on title

merged_genre_18_53 = pd.merge(top_sub_genres_one,top_sub_genres_two, on="title", how="inner",left_index=True,
                           right_index=True, suffixes=('', '_remove'))
 
# remove the duplicate columns
merged_genre_18_53.drop([i for i in merged_genre_18_53.columns if 'remove' in i],
               axis=1, inplace=True)

In [42]:
# ANIMATION DRAMA

#genre 1 - DRAMA

genre_columns_one = ['genre_id_1','genre_id_2', 'genre_id_3', 'genre_id_4', 'genre_id_5', 'genre_id_6']
sub_genre_one = top_movies[genre_columns_one].isin([35]).any(axis=1)
top_sub_genres_one = top_movies[sub_genre_one]
top_sub_genres_one

#genre 2 - ANIMATION
genre_columns_two = ['genre_id_1','genre_id_2', 'genre_id_3', 'genre_id_4', 'genre_id_5', 'genre_id_6']
sub_genre_two = top_movies[genre_columns_two].isin([16]).any(axis=1)
top_sub_genres_two = top_movies[sub_genre_two]
top_sub_genres_two

#merge based on title

merged_genre_35_16 = pd.merge(top_sub_genres_one,top_sub_genres_two, on="title", how="inner",left_index=True,
                           right_index=True, suffixes=('', '_remove'))
 
# remove the duplicate columns
merged_genre_35_16.drop([i for i in merged_genre_35_16.columns if 'remove' in i],
               axis=1, inplace=True)

In [43]:
# ANIMATION DRAMA

#genre 1 - DRAMA

genre_columns_one = ['genre_id_1','genre_id_2', 'genre_id_3', 'genre_id_4', 'genre_id_5', 'genre_id_6']
sub_genre_one = top_movies[genre_columns_one].isin([35]).any(axis=1)
top_sub_genres_one = top_movies[sub_genre_one]
top_sub_genres_one

#genre 2 - ANIMATION
genre_columns_two = ['genre_id_1','genre_id_2', 'genre_id_3', 'genre_id_4', 'genre_id_5', 'genre_id_6']
sub_genre_two = top_movies[genre_columns_two].isin([16]).any(axis=1)
top_sub_genres_two = top_movies[sub_genre_two]
top_sub_genres_two

#merge based on title

merged_genre_35_16 = pd.merge(top_sub_genres_one,top_sub_genres_two, on="title", how="inner",left_index=True,
                           right_index=True, suffixes=('', '_remove'))
 
# remove the duplicate columns
merged_genre_35_16.drop([i for i in merged_genre_35_16.columns if 'remove' in i],
               axis=1, inplace=True)

In [44]:
# creating new dataframe with lenths of sub-genres
genre_data = [len(merged_genre_18_12.index), len(merged_genre_18_35.index),
              len(merged_genre_18_14.index), len(merged_genre_18_10749.index), len(merged_genre_18_28.index),
              len(merged_genre_18_80.index),len(merged_genre_18_53.index),len(merged_genre_35_10749.index), len(merged_genre_35_16.index)]

genre_data_graph = pd.DataFrame(genre_data, columns = ['genre_total'])

# naming the columns based on the genre keys
no_drama = ['Adventure Drama', 'Comedy Drama', 'Fantasy Drama', 'Romance Drama', 'Action Drama','Crime Drama','Thriller Drama',
           'Comedy-Romance', 'Animation Drama']

genre_data_graph['genre_name'] = no_drama

# re-arranging column position
moving_genre = genre_data_graph.pop('genre_name')
  
genre_data_graph.insert(0, 'genre_name', moving_genre)

NameError: name 'merged_genre_35_10749' is not defined

In [ ]:
# sorting by genre total
sub_genre_sorted = genre_data_graph.sort_values(by='genre_total',ascending=False)
sub_genre_sorted

In [ ]:
genre_sum = sub_genre_sorted['genre_total'].sum()
genre_sum

# Data Source #2   - Looking at genres without 'Drama"

In [ ]:
#creating dataframe from main top_genres and removing "drama" category as this might skew the data

top_genres_no_drama = top_genres_total

top_genres_no_drama = top_genres_no_drama.tail(-1)
top_genres_no_drama

In [ ]:
# creating percentage colum to represent breakdown of categories and rounding the floats

genre_breakdown = top_genres_no_drama

genre_breakdown['percent'] = ((genre_breakdown['genre_total'] / genre_breakdown['genre_total'].sum() * 100))
genre_breakdown.percent = genre_breakdown.percent.round(2)

In [ ]:
# making dataframe with top 5

genre_top5 = genre_breakdown.head(5)

In [ ]:
# resestting index

genre_breakdown = genre_breakdown.reset_index()
genre_breakdown.rename(columns = {'genre_name':'Genre'}, inplace = True)
genre_breakdown.rename(columns = {'percent':'Market Share %'}, inplace = True)

In [ ]:
# creating x and y
x = genre_top5['genre_name']
y = genre_top5['percent']

# resizing & design
fig = plt.figure(figsize=(13, 6))
plt.rc('xtick', labelsize=12) 
plt.rc('ytick', labelsize=11)
rfont = {'fontname':'helvetica'}

# setting labels
plt.title('Box office movie genres from 1915 - 2020',**rfont, fontdict = {'fontsize' : 20, 'fontweight': 100} , pad = 20
         )
plt.xlabel('Genre',labelpad = 15, fontdict = {'fontsize' : 15} )
plt.ylabel('Market share (%)', labelpad = 15, fontdict = {'fontsize' : 15})

# making the bar
genre_graph = plt.bar(x, y,color=('#0071ff'))

for bar in genre_graph:
    yval = bar.get_height()
    plt.text(bar.get_x() + bar.get_width()/2, yval, yval, ha='center', va='bottom')

# Data Source #3 -  Box office revenue by genre - Numbers.com

### Data Scources In The
#### Data Sourced From 
Data was sourced from the numbers.com additional data was pulled to include additional films from the last two years.  Two out of the five top grossing films of all time were released during the period covered in this data set.

In [ ]:
#downloaded table from thenumbers.com website and created .csv file from the values

genre_data = pd.read_csv('top-movie-genres-by-total-box-office-revenue.csv')

In [ ]:
#sorting the top give genre

genre_data_sorted = genre_data.head(5)

#turning share into percent and adjusting float to 2 places
genre_data_sorted['Share'] = genre_data_sorted['Share'] * 100
genre_data_sorted.Share = genre_data_sorted.Share.round(2)

In [ ]:
# turning share into percent and adjusting float to 2 places

genre_data_sorted['Share'] = genre_data_sorted['Share'] * 100
genre_data_sorted.Share = genre_data_sorted.Share.round(2)

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

# creating x and y
x = genre_data_sorted['Genre']
y = genre_data_sorted['Share']

# resizing & design
fig = plt.figure(figsize=(10, 6))
plt.rc('xtick', labelsize=12) 
plt.rc('ytick', labelsize=11)
rfont = {'fontname':'helvetica'}

# setting labels
plt.title('Box office revenue by movie genre',**rfont, fontdict = {'fontsize' : 20, 'fontweight': 100} , pad = 20
         )
plt.xlabel('Genre',labelpad = 15, fontdict = {'fontsize' : 15} )
plt.ylabel('Market share (%)', labelpad = 15, fontdict = {'fontsize' : 15})

# making the bar
genre_graph = plt.bar(x, y,color=('#0071ff'))

for bar in genre_graph:
    yval = bar.get_height()
    plt.text(bar.get_x() + bar.get_width()/2, yval, yval, ha='center', va='bottom')
;

# Data Source #4 & 5

### Data Scources In The
#### Data Sourced From 
Data for this section came from the data provided from Flatiron school, MovieLens, and Kaggle.

These files contain metadata for all 45,000 movies listed in the Full MovieLens Dataset. The dataset consists of movies released on or before July 2017. Data points include cast, crew, plot keywords, budget, revenue, posters, release dates, languages, production companies, countries, TMDB vote counts and vote averages.

In [ ]:
minfo=pd.read_csv('zippedData/rt.movie_info.tsv.gz',sep='\t')
reviews=pd.read_csv('zippedData/rt.reviews.tsv.gz',sep ='\t',encoding='latin1')
meta_data = pd.read_csv('zippedData/Meta Movie Data.zip', low_memory=False)

# Minfo Inspection

In [ ]:
#A basic overview of the first 5 rows!
minfo.head(10)

In [ ]:
#checking data types
minfo.dtypes

In [ ]:
#Checking NA's in files
minfo.isna().sum()

In [ ]:
minfo.info()

# Organizing

In [ ]:
#Dropping all columns both irrelevant and littered with NA's
minfo.drop(columns = ['synopsis', 'currency', 'dvd_date', 'theater_date'], inplace=True )

In [ ]:
#drops na's in the subset box_office, ratnings columns
minfo.dropna(subset = ['box_office','rating'], inplace = True)
minfo

# Cleaning

In [ ]:
#removing string minutes
minfo['box_office'] = minfo['box_office'].str.replace(',','')
minfo['box_office'] = minfo['box_office'].str.replace(' ','')

#converted into float
minfo['box_office'] = minfo['box_office'].astype(float)

#creating a grouped by rating variable with a median value
minfo_ratinggrouped = minfo.groupby(by='rating').median()

#indexing the value
minfo_ratinggrouped.index

#sorting the variable of minfo_ratinggrouped values in numerical order 
minfo_ratinggrouped = minfo_ratinggrouped.sort_values('box_office', ascending=False)

#X values #height value
x = minfo_ratinggrouped.index
height = minfo_ratinggrouped['box_office']

# Graphing

In [ ]:
#adding market percentages to top and 

#color coding 
fig, ax=plt.subplots()
plt.bar(x, height, width = .6, color = ['green','green','blue','blue','blue','blue'])
ax.yaxis.set_major_formatter(StrMethodFormatter('${x:,.0f}'))

ax.set_xlabel('Ratings')
ax.set_ylabel('Box Office Average')
ax.set_title('Ratings vs Box Office');
plt.savefig('Ratings vs Box .png', dpi=300, bbox_inches='tight')

# Meta Data Inspection

In [ ]:
#inspecting data
meta_data

In [ ]:
#inspecting the information
meta_data.info()

In [ ]:
#determing what is actually valid 
meta_data.isna().sum()

# Organizing

In [ ]:
#dropping irrelevant columns
meta_data.drop(columns = ['popularity','adult','genres','production_countries','original_title',
                          'original_language','imdb_id','poster_path','production_companies','vote_count','tagline','status','spoken_languages','overview','homepage','belongs_to_collection','video','vote_count'], inplace=True )

In [ ]:
#rename relevant columns
meta_data.rename(columns = {'release_date':'released','title':'name','revenue':'box_office'}, inplace = True)

In [ ]:
#adjustments to remove last 0's
meta_data = meta_data.loc[(meta_data['runtime'] != 0)] 
meta_data = meta_data.loc[(meta_data['box_office'] != 0)]

In [ ]:
#replacing na's in categories in box office and runtimes
meta_data.dropna(subset = ['box_office','runtime'], inplace = True)
meta_data

In [ ]:
meta_data['box_office'] = meta_data['box_office'].astype(float)
meta_data['box_office']

In [ ]:
#runtime indexed
meta_ratinggrouped = meta_data.groupby(by='runtime').mean()
meta_ratinggrouped.index

In [ ]:
#defining varaibles for graphing
height2 = meta_ratinggrouped['box_office']
xa = meta_ratinggrouped.index

# Graphing

In [ ]:
#Getting Ideal Runtime to be part

fig, ax=plt.subplots()
scatter = ax.scatter(xa, meta_ratinggrouped['box_office'],
           alpha=.7,
           s=200,
           marker='*')


#by billions 1,000,000,000
plt.ticklabel_format(style='plain')

ax.vlines(120, 250000000, ymax=300, color='red')
ax.vlines(160, 500000000, ymax=300, color='red')

ax.yaxis.set_major_formatter(StrMethodFormatter('${x:,.0f}'))
ax.set_xlabel('Runtime')
ax.set_ylabel('Box Office Success')
ax.set_title('Box Office Success vs Runtime')
ax.text(s = 'Avatar', x=200, y = 1750000000)
ax.annotate('Ideal Runtime', xy=(150, 600000000), xytext=(160 , 800000000), arrowprops={'facecolor': 'black'});


plt.savefig('Runtime vs Boxoffice.png', dpi=300, bbox_inches='tight')

# Data Source #6

### Data Source
#### This Data WAs Sourced From
This data was pulled from 3rd party providers of twitch data.  With some manual additions.  
This was selected based on interest in potentail preexisting IPs Microsoft was already owning.

In [ ]:
## Pulling in a Found data source of twitch data.  Generated on March 8th for the last 365 days
## Source of Data.  https://sullygnome.com/games/365/watched
import pandas as pd
import matplotlib.pyplot as plt

twitch=pd.read_csv('zippedData/MostWatchedTwitch.csv')
microsoftwatch=twitch[['Watch time (mins)', 'Game','Is_Microsoft_Owned']].groupby('Is_Microsoft_Owned').sum()
height2=microsoftwatch['Watch time (mins)']/1000000000
xa=microsoftwatch.index

fig,ax=plt.subplots()
plt.bar(xa,height2, width =.6)
ax.set_title("Total Watch Time of top 50 Twitch Categories For The Last Year")
ax.set_ylabel('Watch Time in Billions of Hours')
ax.set_xlabel('Ownership of Content')

In [ ]:
##Graph Showing the percentage of Top Twitch Content Microsoft is about to purchase

twitch=pd.read_csv('zippedData/MostWatchedTwitch.csv')
microsoftwatch=twitch[['Watch time (mins)', 'Game','Blizzard Title']].groupby('Blizzard Title').sum()
height2=microsoftwatch['Watch time (mins)']/1000000000
xa=microsoftwatch.index

fig,ax=plt.subplots()
plt.bar(xa,height2, width =.6)
ax.set_title("Percentage of all Twitch Watch Time In the Last Year that is Microsoft Owned Content")
ax.set_ylabel('Watch Time in Billions of Hours')
ax.set_xlabel('Ownership of Content')

In [ ]:
##Graph of Microsoft Owned Content Compared


twiblizact=twitch[['Watch time (mins)', 'Game','Blizzard Title']].groupby('Blizzard Title').sum()


height2=twiblizact['Watch time (mins)']/1000000000
xa=twiblizact.index

plt.rcParams["figure.figsize"] = (10,5)
fig,ax=plt.subplots()
plt.bar(xa,height2, width =.6)
ax.set_title("Twitch Watch Time By IP Ownership")
ax.set_ylabel('Watch Time in Billions of Hours')
ax.set_xlabel('Ownership of Content')
fig.autofmt_xdate(rotation=45)
sns.

plt.savefig('viewershipbreakdown.png', dpi=300, bbox_inches='tight')
# the plan is that I put a smaller graph overtop of the exisiting Graph

In [ ]:
twiblizact

In [ ]:
import seaborn as sns


comparingips=twitch.loc[twitch['Is_Microsoft_Owned']=='Microsoft Owned']


fig, ax = plt.subplots(figsize=(16,10))

plot=sns.barplot(x='Game', y='Watch time (mins)', data=comparingips, hue='Blizzard Title', ax=ax)
plt.setp(plot.get_xticklabels(), rotation=45)
ax.set_xticklabels(ax.get_xticklabels(),rotation=45,ha="right",rotation_mode='anchor')
sns.set(font_scale=1)
plt.ticklabel_format(style='plain', axis='y')
plt.tight_layout()
#ax.set(xlabel='Microsoft Titles', ylabel='Watch time in Hours For The Last Year',title='Comparing Twitch Preformance')
ax.set_xlabel('Microsoft Titles',fontsize=20)
ax.set_ylabel('Watch time in Hours For The Last Year',fontsize=20)
ax.axes.set_title('Comparing Twitch Preformance',fontsize=20)

plt.savefig('EachIP.png', dpi=300, bbox_inches='tight')