# __Importing Pandas/Numpy/Zipfile and Opening CSV files__

In [358]:
# importing pandas, numpy and zipfile
import zipfile
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta
import json

In [301]:
ls

README.md                student.ipynb
stephanie_ciaccia.ipynb  zippedData/

In [302]:
## opening read file
ratings = pd.read_csv('zippedData/tmdb.movies.csv.gz',compression='gzip')
budget = pd.read_csv('zippedData/tn.movie_budgets.csv.gz',compression='gzip')

# Inspecting - TMDB movies

In [303]:
df.head(5)

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [304]:
ratings.describe()

        Unnamed: 0             id    popularity  vote_average    vote_count
count  26517.00000   26517.000000  26517.000000  26517.000000  26517.000000
mean   13258.00000  295050.153260      3.130912      5.991281    194.224837
std     7654.94288  153661.615648      4.355229      1.852946    960.961095
min        0.00000      27.000000      0.600000      0.000000      1.000000
25%     6629.00000  157851.000000      0.600000      5.000000      2.000000
50%    13258.00000  309581.000000      1.374000      6.000000      5.000000
75%    19887.00000  419542.000000      3.694000      7.000000     28.000000
max    26516.00000  608444.000000     80.773000     10.000000  22186.000000

In [305]:
ratings.head(1)

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788

In [306]:
ratings.columns

Index(['Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title',
       'popularity', 'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')

In [307]:
ratings.shape

(26517, 10)

In [308]:
# checking for null values
ratings.isna().sum()

Unnamed: 0           0
genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

In [309]:
ratings.dtypes

Unnamed: 0             int64
genre_ids             object
id                     int64
original_language     object
original_title        object
popularity           float64
release_date          object
title                 object
vote_average         float64
vote_count             int64
dtype: object

# __Cleaning Dataframe - TMDB__

In [312]:
##removing 'Unnamed: Column 0' as it is a repeat of the values in the index

ratings = ratings.drop(["Unnamed: 0"], axis = 1)

In [313]:
ratings.dtypes

genre_ids             object
id                     int64
original_language     object
original_title        object
popularity           float64
release_date          object
title                 object
vote_average         float64
vote_count             int64
dtype: object

In [314]:
ratings.head(5)

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [ ]:
##genre_id key

Action          28
Adventure       12
Animation       16
Comedy          35
Crime           80
Documentary     99
Drama           18
Family          10751
Fantasy         14
History         36
Horror          27
Music           10402
Mystery         9648
Romance         10749
Science Fiction 878
TV Movie        10770
Thriller        53
War             10752
Western         37

In [315]:
## converting 'release_date' column type from integer to datetime

ratings['release_date'] = pd.to_datetime(ratings['release_date'])

In [316]:
ratings['release_date']

0       2010-11-19
1       2010-03-26
2       2010-05-07
3       1995-11-22
4       2010-07-16
           ...
26512   2018-10-13
26513   2018-05-01
26514   2018-10-01
26515   2018-06-22
26516   2018-10-05
Name: release_date, Length: 26517, dtype: datetime64[ns]

# Inspecting - TN movies budget (df2)

In [317]:
budget

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [216]:
budget.head(5)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [217]:
budget.dtypes

id                    int64
release_date         object
movie                object
production_budget    object
domestic_gross       object
worldwide_gross      object
dtype: object

# Cleaning - TN movies budget

In [218]:
### changing type of release Date to datetime

budget['release_date'] = pd.to_datetime(df['release_date'])

In [219]:
### removing $ and , from Production Budget and and changing type to integer

budget['production_budget'] = budget['production_budget'].str.replace('$', '')
budget['production_budget'] = budget['production_budget'].str.replace(',', '')
budget['production_budget'] = budget['production_budget'].astype(int)

In [220]:
### removing $ and , from Domestic Gross and and changing type to integer

budget['domestic_gross'] = budget['domestic_gross'].str.replace('$', '')
budget['domestic_gross'] = budget['domestic_gross'].str.replace(',', '')
budget['domestic_gross'] = budget['domestic_gross'].astype(int)

In [225]:
### removing $ and , from Worldwide Gross and changing type to integer

budget['worldwide_gross'] = budget['worldwide_gross'].str.replace('$', '')
budget['worldwide_gross'] = budget['worldwide_gross'].str.replace(',', '')
budget['worldwide_gross'] = budget['worldwide_gross'].astype(int)

In [222]:
#sanity check w/ data types
budget.dtypes

id                            int64
release_date         datetime64[ns]
movie                        object
production_budget             int64
domestic_gross                int64
worldwide_gross              object
dtype: object

In [223]:
#checking for null values
budget.isna( ).sum()

id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

In [224]:
budget.describe()

                id  production_budget  domestic_gross
count  5782.000000       5.782000e+03    5.782000e+03
mean     50.372363       3.158776e+07    4.187333e+07
std      28.821076       4.181208e+07    6.824060e+07
min       1.000000       1.100000e+03    0.000000e+00
25%      25.000000       5.000000e+06    1.429534e+06
50%      50.000000       1.700000e+07    1.722594e+07
75%      75.000000       4.000000e+07    5.234866e+07
max     100.000000       4.250000e+08    9.366622e+08

In [227]:
budget.head(5)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,2010-11-19,Avatar,425000000,760507625,2776345279
1,2,2010-03-26,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
2,3,2010-05-07,Dark Phoenix,350000000,42762350,149762350
3,4,1995-11-22,Avengers: Age of Ultron,330600000,459005868,1403013963
4,5,2010-07-16,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747

# Analyzing

In [231]:
budget['worldwide_gross'].

0            367
8000000        9
7000000        6
2000000        6
4000000        4
            ...
166000000      1
42843521       1
101173038      1
478595         1
12996          1
Name: worldwide_gross, Length: 5356, dtype: int64

In [235]:

oldest_movie = min(budget['release_date'])
newest_movie = max(budget['release_date'])

print(oldest_movie)
print(newest_movie)

1936-02-27 00:00:00
2017-03-15 00:00:00

In [248]:
movie_range = relativedelta(newest_movie, oldest_movie).years
movie_range

81

In [390]:
top_20_movies = budget.sort_values(by='worldwide_gross',ascending=False).head(20)
top_20_movies

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
3737,38,"Aug 21, 2009",Fifty Dead Men Walking,"$10,000,000",$0,"$997,921"
3432,33,"Sep 30, 2005",Duma,"$12,000,000","$870,067","$994,790"
5062,63,"Apr 1, 2011",Insidious,"$1,500,000","$54,009,150","$99,870,886"
883,84,"Apr 2, 2004",Hellboy,"$60,000,000","$59,623,958","$99,823,958"
5613,14,"Mar 21, 1980",Mad Max,"$200,000","$8,750,000","$99,750,000"
1078,79,"Aug 17, 2018",Alpha,"$51,000,000","$35,851,379","$99,624,873"
1682,83,"Dec 23, 1994",Street Fighter,"$35,000,000","$33,423,000","$99,423,000"
1792,93,"Jun 16, 2006",Nacho Libre,"$32,000,000","$80,197,993","$99,296,462"
4373,74,"Jun 4, 1999",Desert Blue,"$5,000,000","$99,147","$99,147"
2343,44,"Nov 21, 2007",Hitman,"$24,000,000","$39,687,694","$99,135,571"
381,82,"Oct 16, 2009",Where the Wild Things Are,"$100,000,000","$77,233,467","$99,123,656"
3247,48,"Feb 11, 2011",Justin Bieber: Never Say Never,"$13,000,000","$73,013,910","$99,034,125"
591,92,"Apr 14, 2006",The Wild,"$80,000,000","$37,384,046","$99,010,667"
4358,59,"Jul 25, 2008",American Teen,"$5,000,000","$942,441","$989,319"
608,9,"Jun 15, 1994",The Lion King,"$79,300,000","$421,785,283","$986,214,868"
582,83,"Mar 8, 2002",The Time Machine,"$80,000,000","$56,684,819","$98,983,590"
3364,65,"Nov 22, 2013",Philomena,"$12,000,000","$37,709,979","$98,963,392"
1058,59,"Sep 18, 2015",Black Mass,"$53,000,000","$62,575,678","$98,837,872"
890,91,"Dec 25, 2003",Paycheck,"$60,000,000","$53,789,313","$98,819,789"
5107,8,"Jul 20, 2018",Teefa in Trouble,"$1,500,000",$0,"$98,806"

In [280]:
top_20_movies = budget.sort_values(by="worldwide_gross",ascending=False).head(25)
top_20_movies

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,2010-11-19,Avatar,425000000,760507625,2776345279
42,43,2010-06-24,Titanic,200000000,659363944,2208208395
5,6,2010-02-11,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2053311220
6,7,2009-12-18,Avengers: Infinity War,300000000,678815482,2048134200
33,34,2007-08-03,Jurassic World,215000000,652270625,1648854864
66,67,2010-07-27,Furious 7,190000000,353007020,1518722794
26,27,1995-04-07,The Avengers,225000000,623279547,1517935897
3,4,1995-11-22,Avengers: Age of Ultron,330600000,459005868,1403013963
41,42,2010-08-13,Black Panther,200000000,700059566,1348258224
260,61,2010-08-20,Harry Potter and the Deathly Hallows: Part II,125000000,381193157,1341693157
4,5,2010-07-16,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747
112,13,2010-01-25,Jurassic World: Fallen Kingdom,170000000,417719760,1305772799
155,56,2010-05-01,Frozen,150000000,400738009,1272469910
134,35,2010-09-15,Beauty and the Beast,160000000,504014165,1259199706
43,44,1959-03-18,Incredibles 2,200000000,608581744,1242520711
22,23,2010-12-10,The Fate of the Furious,250000000,225764765,1234846267
47,48,2010-12-03,Iron Man 3,200000000,408992272,1215392272
672,73,2009-01-18,Minions,74000000,336045770,1160336173
135,36,2010-10-08,Aquaman,160000000,335061807,1146894640
425,26,2010-11-05,The Lord of the Rings: The Return of the King,94000000,377845905,1141403341
16,17,2010-01-11,Captain America: Civil War,250000000,408084349,1140069413
63,64,2010-07-23,Transformers: Dark of the Moon,195000000,352390543,1123790543
95,96,2010-08-20,Captain Marvel,175000000,426525952,1123061550
51,52,2010-08-06,Skyfall,200000000,304360277,1110526981
36,37,2010-05-14,Transformers: Age of Extinction,210000000,245439076,1104039076

# THE MOVIE DB - API REQUEST

In [330]:
import requests

In [353]:
movie_api = requests.get('https://api.themoviedb.org/3/tv/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=1'
)
print(movie_api.status_code)

200

In [366]:
movie_api.json().keys()

dict_keys(['page', 'results', 'total_pages', 'total_results'])

In [376]:
episodes = movie_api.json()['results']

In [377]:
len(top_rated)

121

In [378]:
episodes

[{'backdrop_path': '/99vBORZixICa32Pwdwj0lWcr8K.jpg',
  'first_air_date': '2021-09-03',
  'genre_ids': [10764],
  'id': 130392,
  'name': "The D'Amelio Show",
  'origin_country': ['US'],
  'original_language': 'en',
  'original_name': "The D'Amelio Show",
  'overview': 'From relative obscurity and a seemingly normal life, to overnight success and thrust into the Hollywood limelight overnight, the Dâ€™Amelios are faced with new challenges and opportunities they could not have imagined.',
  'popularity': 14.541,
  'poster_path': '/phv2Jc4H8cvRzvTKb9X1uKMboTu.jpg',
  'vote_average': 8.9,
  'vote_count': 3183},
 {'backdrop_path': '/hwIAR9FDsKULo8efoOUuxsFtO2u.jpg',
  'first_air_date': '2008-01-20',
  'genre_ids': [18],
  'id': 1396,
  'name': 'Breaking Bad',
  'origin_country': ['US'],
  'original_language': 'en',
  'original_name': 'Breaking Bad',
  'overview': "When Walter White, a New Mexico chemistry teacher, is diagnosed with Stage III cancer and given a prognosis of only two years left to live. He becomes filled with a sense of fearlessness and an unrelenting desire to secure his family's financial future at any cost as he enters the dangerous world of drugs and crime.",
  'popularity': 422.539,
  'poster_path': '/ggFHVNu6YYI5L9pCfOacjizRGt.jpg',
  'vote_average': 8.9,
  'vote_count': 11222},
 {'backdrop_path': '/uDgy6hyPd82kOHh6I95FLtLnj6p.jpg',
  'first_air_date': '2023-01-15',
  'genre_ids': [18],
  'id': 100088,
  'name': 'The Last of Us',
  'origin_country': ['US'],
  'original_language': 'en',
  'original_name': 'The Last of Us',
  'overview': 'Twenty years after modern civilization has been destroyed, Joel, a hardened survivor, is hired to smuggle Ellie, a 14-year-old girl, out of an oppressive quarantine zone. What starts as a small job soon becomes a brutal, heartbreaking journey, as they both must traverse the United States and depend on each other for survival.',
  'popularity': 4594.207,
  'poster_path': '/uKvVjHNqB5VmOrdxqAt2F7J78ED.jpg',
  'vote_average': 8.8,
  'vote_count': 2240},
 {'backdrop_path': '/rkB4LyZHo1NHXFEDHl9vSD9r1lI.jpg',
  'first_air_date': '2021-11-06',
  'genre_ids': [16, 10765, 10759, 18],
  'id': 94605,
  'name': 'Arcane',
  'origin_country': ['US'],
  'original_language': 'en',
  'original_name': 'Arcane',
  'overview': 'Amid the stark discord of twin cities Piltover and Zaun, two sisters fight on rival sides of a war between magic technologies and clashing convictions.',
  'popularity': 80.527,
  'poster_path': '/fqldf2t8ztc9aiwn3k6mlX3tvRT.jpg',
  'vote_average': 8.7,
  'vote_count': 2926},
 {'backdrop_path': '/uGy4DCmM33I7l86W7iCskNkvmLD.jpg',
  'first_air_date': '2013-12-02',
  'genre_ids': [16, 35, 10765, 10759],
  'id': 60625,
  'name': 'Rick and Morty',
  'origin_country': ['US'],
  'original_language': 'en',
  'original_name': 'Rick and Morty',
  'overview': "Rick is a mentally-unbalanced but scientifically gifted old man who has recently reconnected with his family. He spends most of his time involving his young grandson Morty in dangerous, outlandish adventures throughout space and alternate universes. Compounded with Morty's already unstable family life, these events cause Morty much distress at home and school.",
  'popularity': 550.642,
  'poster_path': '/cvhNj9eoRBe5SxjCbQTkh05UP5K.jpg',
  'vote_average': 8.7,
  'vote_count': 7949},
 {'backdrop_path': '/70YdbMELM4b8x8VXjlubymb2bQ0.jpg',
  'first_air_date': '2017-03-19',
  'genre_ids': [18, 10751],
  'id': 70785,
  'name': 'Anne with an E',
  'origin_country': ['CA'],
  'original_language': 'en',
  'original_name': 'Anne with an E',
  'overview': 'A coming-of-age story about an outsider who, against all odds and numerous challenges, fights for love and acceptance and for her place in the world. The series centers on a young orphaned girl in the late 1890â€™s, who, after an abusive childhood spent in orphanages and the homes of strangers, is mistakenly sent to live with an elderly woman and her aging brother. Over time, 13-year-old Anne will transform their lives and eventually the small town in which they live with her unique spirit, fierce intellect and brilliant imagination.',
  'popularity': 97.088,
  'poster_path': '/6P6tXhjT5tK3qOXzxF9OMLlG7iz.jpg',
  'vote_average': 8.7,
  'vote_count': 4215},
 {'backdrop_path': '/5DUMPBSnHOZsbBv81GFXZXvDpo6.jpg',
  'first_air_date': '2022-10-12',
  'genre_ids': [16, 10759, 10765, 35],
  'id': 114410,
  'name': 'Chainsaw Man',
  'origin_country': ['JP'],
  'original_language': 'ja',
  'original_name': 'ãƒã‚§ãƒ³ã‚½ãƒ¼ãƒžãƒ³',
  'overview': 'Denji has a simple dreamâ€”to live a happy and peaceful life, spending time with a girl he likes. This is a far cry from reality, however, as Denji is forced by the yakuza into killing devils in order to pay off his crushing debts. Using his pet devil Pochita as a weapon, he is ready to do anything for a bit of cash.',
  'popularity': 572.571,
  'poster_path': '/npdB6eFzizki0WaZ1OvKcJrWe97.jpg',
  'vote_average': 8.7,
  'vote_count': 903},
 {'backdrop_path': '/790rH1ByeDJg6VPwBFxdzxHRepI.jpg',
  'first_air_date': '2019-04-06',
  'genre_ids': [16, 35],
  'id': 85990,
  'name': 'Hitoribocchi no Marumaruseikatsu',
  'origin_country': ['JP'],
  'original_language': 'ja',
  'original_name': 'ã²ã¨ã‚Šã¼ã£ã¡ã®â—‹â—‹ç”Ÿæ´»',
  'overview': "Hitori Bocchi suffers from extreme social anxiety, she's not good at talking to people, takes pretty extreme actions, is surprisingly adept at avoiding people, her legs cramp when she overexerts herself, gets full of herself when alone, will vomit when exposed to extreme tension and often comes up with plans. Now she is entering middle school and her only friend, Yawara Kai, is attending a different school. This leaves Bocchi alone, surrounded by new classmates with whom she must make friends before Kai will talk to her again.",
  'popularity': 12.665,
  'poster_path': '/btoTzCw3zmjRtB99g2M5Mw2GUQG.jpg',
  'vote_average': 8.7,
  'vote_count': 127},
 {'backdrop_path': '/4Mt7WHox67uJ1yErwTBFcV8KWgG.jpg',
  'first_air_date': '1999-10-20',
  'genre_ids': [10759, 35, 16],
  'id': 37854,
  'name': 'One Piece',
  'origin_country': ['JP'],
  'original_language': 'ja',
  'original_name': 'ãƒ¯ãƒ³ãƒ”ãƒ¼ã‚¹',
  'overview': 'Years ago, the fearsome Pirate King, Gol D. Roger was executed leaving a huge pile of treasure and the famous "One Piece" behind. Whoever claims the "One Piece" will be named the new King of the Pirates.\n\nMonkey D. Luffy, a boy who consumed a "Devil Fruit," decides to follow in the footsteps of his idol, the pirate Shanks, and find the One Piece. It helps, of course, that his body has the properties of rubber and that he\'s surrounded by a bevy of skilled fighters and thieves to help him along the way.\n\nLuffy will do anything to get the One Piece and become King of the Pirates!',
  'popularity': 132.746,
  'poster_path': '/dum1wnm6kJOUos0XJqjB8s2UWi9.jpg',
  'vote_average': 8.7,
  'vote_count': 3618},
 {'backdrop_path': '/6UH52Fmau8RPsMAbQbjwN3wJSCj.jpg',
  'first_air_date': '2021-03-25',
  'genre_ids': [16, 10765, 10759, 18],
  'id': 95557,
  'name': 'Invincible',
  'origin_country': ['US'],
  'original_language': 'en',
  'original_name': 'Invincible',
  'overview': 'Mark Grayson is a normal teenager except for the fact that his father is the most powerful superhero on the planet. Shortly after his seventeenth birthday, Mark begins to develop powers of his own and enters into his fatherâ€™s tutelage.',
  'popularity': 91.332,
  'poster_path': '/yDWJYRAwMNKbIYT8ZB33qy84uzO.jpg',
  'vote_average': 8.7,
  'vote_count': 3409},
 {'backdrop_path': '/2UG177tWHy7xRmMKWJHB7nAUmKd.jpg',
  'first_air_date': '2009-04-05',
  'genre_ids': [10759, 16, 10765],
  'id': 31911,
  'name': 'Fullmetal Alchemist: Brotherhood',
  'origin_country': ['JP'],
  'original_language': 'ja',
  'original_name': 'é‹¼ã®éŒ¬é‡‘è¡“å¸« FULLMETAL ALCHEMIST',
  'overview': "Edward and Alphonse Elric's reckless disregard for alchemy's fun\xaddamental laws ripped half of Ed's limbs from his body and left Al's soul clinging to a cold suit of armor. To restore what was lost, the brothers scour a war-torn land for the Philosopher's Sto\xadne, a fabled relic which grants the ability to perform alchemy in impossible ways.\n\nThe Elrics are not alone in their search; the corrupt State Military is also eager to harness the artifact's power. So too are the strange Homunculi and their shadowy creator. The mythical gem lures exotic alchemists from distant kingdoms, scarring some deeply enough to inspire murder. As the Elrics find their course altered by these enemies and allies, their purpose remains unchanged â€“ and their bond unbreakable.",
  'popularity': 93.73,
  'poster_path': '/5ZFUEOULaVml7pQuXxhpR2SmVUw.jpg',
  'vote_average': 8.7,
  'vote_count': 1581},
 {'backdrop_path': '/smSbK5cd8T9XHcxEUcems23BDEF.jpg',
  'first_air_date': '2016-12-02',
  'genre_ids': [18, 10765, 35],
  'id': 67915,
  'name': 'Goblin',
  'origin_country': ['KR'],
  'original_language': 'ko',
  'original_name': 'ì“¸ì“¸í•˜ê³  ì°¬ëž€í•˜ç¥ž-ë„ê¹¨ë¹„',
  'overview': 'In his quest for a bride to break his immortal curse, a 939-year-old guardian of souls meets a grim reaper and a sprightly student with a tragic past.',
  'popularity': 124.513,
  'poster_path': '/c2gon6zbqzL73DOl8mPQMMUJXvE.jpg',
  'vote_average': 8.7,
  'vote_count': 2448},
 {'backdrop_path': '/3ILMlmC30QUnYkY3XEBOyJ82Dqu.jpg',
  'first_air_date': '2016-04-03',
  'genre_ids': [10759, 16],
  'id': 65930,
  'name': 'My Hero Academia',
  'origin_country': ['JP'],
  'original_language': 'ja',
  'original_name': 'åƒ•ã®ãƒ’ãƒ¼ãƒ­ãƒ¼ã‚¢ã‚«ãƒ‡ãƒŸã‚¢',
  'overview': "In a world where eighty percent of the population has some kind of super-powered Quirk, Izuku was unlucky enough to be born completely normal. But that won't stop him from enrolling in a prestigious hero academy. Now, he'll get his first taste of brutal rivalry from other schools as he braves the cutthroat, no-holds-barred provisional license exam.",
  'popularity': 138.427,
  'poster_path': '/ivOLM47yJt90P19RH1NvJrAJz9F.jpg',
  'vote_average': 8.7,
  'vote_count': 4203},
 {'backdrop_path': '/dJ8yrSokdTMnhKJw06MllSfCegb.jpg',
  'first_air_date': '2019-01-12',
  'genre_ids': [16, 35, 18],
  'id': 83121,
  'name': 'Kaguya-sama: Love Is War',
  'origin_country': ['JP'],
  'original_language': 'ja',
  'original_name': 'ã‹ãã‚„æ§˜ã¯å‘Šã‚‰ã›ãŸã„ï½žå¤©æ‰ãŸã¡ã®æ‹æ„›é ­è„³æˆ¦ï½ž',
  'overview': "Considered a genius due to having the highest grades in the country, Miyuki Shirogane leads the prestigious Shuchiin Academy's student council as its president, working alongside the beautiful and wealthy vice president Kaguya Shinomiya. The two are often regarded as the perfect couple by students despite them not being in any sort of romantic relationship.",
  'popularity': 91.921,
  'poster_path': '/5khbC6AuNgnvnoDbjIMKCOhEtIc.jpg',
  'vote_average': 8.7,
  'vote_count': 595},
 {'backdrop_path': '/iBAtBLqCMON3NPIjyQ1wdMbpTAk.jpg',
  'first_air_date': '2019-04-06',
  'genre_ids': [16, 10765, 10759],
  'id': 85937,
  'name': 'Demon Slayer: Kimetsu no Yaiba',
  'origin_country': ['JP'],
  'original_language': 'ja',
  'original_name': 'é¬¼æ»…ã®åˆƒ',
  'overview': 'It is the Taisho Period in Japan. Tanjiro, a kindhearted boy who sells charcoal for a living, finds his family slaughtered by a demon. To make matters worse, his younger sister Nezuko, the sole survivor, has been transformed into a demon herself. Though devastated by this grim reality, Tanjiro resolves to become a â€œdemon slayerâ€ so that he can turn his sister back into a human, and kill the demon that massacred his family.',
  'popularity': 150.466,
  'poster_path': '/wrCVHdkBlBWdJUZPvnJWcBRuhSY.jpg',
  'vote_average': 8.7,
  'vote_count': 4854},
 {'backdrop_path': '/2vbE9ajftJ7dkqUAyxDS0WFILx8.jpg',
  'first_air_date': '2010-09-06',
  'genre_ids': [16, 35],
  'id': 31132,
  'name': 'Regular Show',
  'origin_country': ['US'],
  'original_language': 'en',
  'original_name': 'Regular Show',
  'overview': 'Two bored groundskeepers, Mordecai (a six-foot-tall blue jay) and Rigby (a hyperactive raccoon) are best friends who spend their days trying to entertain themselves by any means necessary, much to the displeasure of their boss. Their everyday pursuits often lead to things spiraling out of control and into the surreal.',
  'popularity': 261.456,
  'poster_path': '/mS5SLxMYcKfUxA0utBSR5MOAWWr.jpg',
  'vote_average': 8.7,
  'vote_count': 1663},
 {'backdrop_path': '/iLR6tKvMu67oSK0DIgDutkPBaiy.jpg',
  'first_air_date': '2018-07-08',
  'genre_ids': [35, 16],
  'id': 80539,
  'name': 'Asobi Asobase - workshop of fun -',
  'origin_country': ['JP'],
  'original_language': 'ja',
  'original_name': 'ã‚ãã³ã‚ãã°ã›',
  'overview': 'During recess, Olivia, a foreign transfer student who doesn\'t know English, plays a game of "look-the-other-way" with Hanako Honda, a loud-mouthed airhead. Their rowdy behavior spurs the ire of Kasumi Nomura, a deadpan loner constantly teased by her older sister for her tendency to lose games. Not willing to compete, Kasumi declines Olivia\'s offer to join the fun, but eventually gets involved anyway and dispenses her own brand of mischief. Soon, a strange friendship blossoms between the peculiar trio, and they decide to form the "Pastime Club," where they are free to resume their daily hijinks.\n\nWhether it be failing to learn English, trying desperately to become popular, or getting caught by teachers at the wrong time, school life will never be boring when these girls are up to their hilarious antics.',
  'popularity': 15.378,
  'poster_path': '/zWE3bnCILcRpfQCsxBkMsgcEjOE.jpg',
  'vote_average': 8.7,
  'vote_count': 115},
 {'backdrop_path': '/nLKYAJCEi6OQVji1HJIxSQ74H9s.jpg',
  'first_air_date': '2005-02-21',
  'genre_ids': [16, 10759, 10765],
  'id': 246,
  'name': 'Avatar: The Last Airbender',
  'origin_country': ['US'],
  'original_language': 'en',
  'original_name': 'Avatar: The Last Airbender',
  'overview': 'In a war-torn world of elemental magic, a young boy reawakens to undertake a dangerous mystic quest to fulfill his destiny as the Avatar, and bring peace to the world.',
  'popularity': 70.273,
  'poster_path': '/cHFZA8Tlv03nKTGXhLOYOLtqoSm.jpg',
  'vote_average': 8.7,
  'vote_count': 3166},
 {'backdrop_path': '/cHyY5z4txdVyGtYMvBJhCqCcJso.jpg',
  'first_air_date': '2020-01-10',
  'genre_ids': [16, 10765, 10751, 10759, 35],
  'id': 92685,
  'name': 'The Owl House',
  'origin_country': ['US'],
  'original_language': 'en',
  'original_name': 'The Owl House',
  'overview': "An animated fantasy-comedy series that follows Luz, a self-assured teenage girl who accidentally stumbles upon a portal to a magical world where she befriends a rebellious witch, Eda, and an adorably tiny warrior, King. Despite not having magical abilities, Luz pursues her dream of becoming a witch by serving as Eda's apprentice at the Owl House and ultimately finds a new family in an unlikely setting.",
  'popularity': 228.944,
  'poster_path': '/zqjSex7DZn7p4dU7mMktdJ8zQV5.jpg',
  'vote_average': 8.7,
  'vote_count': 1274},
 {'backdrop_path': '/tKh3pc5MEjCIGV7hSJX76qi8aGA.jpg',
  'first_air_date': '2018-01-13',
  'genre_ids': [16],
  'id': 76121,
  'name': 'DARLING in the FRANXX',
  'origin_country': ['JP'],
  'original_language': 'ja',
  'original_name': 'ãƒ€ãƒ¼ãƒªãƒ³ãƒ»ã‚¤ãƒ³ãƒ»ã‚¶ãƒ»ãƒ•ãƒ©ãƒ³ã‚­ã‚¹',
  'overview': 'The story is set in the distant future. The land is ruined, and humanity establishes the mobile fort city Plantation. Pilots produced inside Plantation live in Mistilteinn, also know as the "birdcage." Children live there knowing nothing of the outside world or the freedom of the sky. Their lives consist of battling to carry out missions. Their enemies are mysterious giant lifeforms known as Kyouryuu, and the children pilot robots called Franxx to face off against them. For the children, riding the Franxx proves their existence.\n\nA boy named Hiro is called Code:016, and he was once known as a prodigy. However, he has fallen behind, and his existence seems unnecessary. Not piloting a Franxx is the same as ceasing to exist. One day, a mysterious girl known as "Zero Two" appears before him. Two horns grow out of her head.',
  'popularity': 57.21,
  'poster_path': '/rR8HgnD9tqFaSiJ69FpruHo9Gm9.jpg',
  'vote_average': 8.7,
  'vote_count': 1662}]

In [381]:
top_rated = pd.DataFrame(episodes)

In [383]:
top_rated.head(100)

,backdrop_path,first_air_date,genre_ids,id,name,origin_country,original_language,original_name,overview,popularity,poster_path,vote_average,vote_count
0,/99vBORZixICa32Pwdwj0lWcr8K.jpg,2021-09-03,[10764],130392,The D'Amelio Show,[US],en,The D'Amelio Show,From relative obscurity and a seemingly normal...,14.541,/phv2Jc4H8cvRzvTKb9X1uKMboTu.jpg,8.9,3183
1,/hwIAR9FDsKULo8efoOUuxsFtO2u.jpg,2008-01-20,[18],1396,Breaking Bad,[US],en,Breaking Bad,"When Walter White, a New Mexico chemistry teac...",422.539,/ggFHVNu6YYI5L9pCfOacjizRGt.jpg,8.9,11222
2,/uDgy6hyPd82kOHh6I95FLtLnj6p.jpg,2023-01-15,[18],100088,The Last of Us,[US],en,The Last of Us,Twenty years after modern civilization has bee...,4594.207,/uKvVjHNqB5VmOrdxqAt2F7J78ED.jpg,8.8,2240
3,/rkB4LyZHo1NHXFEDHl9vSD9r1lI.jpg,2021-11-06,"[16, 10765, 10759, 18]",94605,Arcane,[US],en,Arcane,Amid the stark discord of twin cities Piltover...,80.527,/fqldf2t8ztc9aiwn3k6mlX3tvRT.jpg,8.7,2926
4,/uGy4DCmM33I7l86W7iCskNkvmLD.jpg,2013-12-02,"[16, 35, 10765, 10759]",60625,Rick and Morty,[US],en,Rick and Morty,Rick is a mentally-unbalanced but scientifical...,550.642,/cvhNj9eoRBe5SxjCbQTkh05UP5K.jpg,8.7,7949
5,/70YdbMELM4b8x8VXjlubymb2bQ0.jpg,2017-03-19,"[18, 10751]",70785,Anne with an E,[CA],en,Anne with an E,"A coming-of-age story about an outsider who, a...",97.088,/6P6tXhjT5tK3qOXzxF9OMLlG7iz.jpg,8.7,4215
6,/5DUMPBSnHOZsbBv81GFXZXvDpo6.jpg,2022-10-12,"[16, 10759, 10765, 35]",114410,Chainsaw Man,[JP],ja,ãƒã‚§ãƒ³ã‚½ãƒ¼ãƒžãƒ³,Denji has a simple dreamâ€”to live a happy and p...,572.571,/npdB6eFzizki0WaZ1OvKcJrWe97.jpg,8.7,903
7,/790rH1ByeDJg6VPwBFxdzxHRepI.jpg,2019-04-06,"[16, 35]",85990,Hitoribocchi no Marumaruseikatsu,[JP],ja,ã²ã¨ã‚Šã¼ã£ã¡ã®â—‹â—‹ç”Ÿæ´»,Hitori Bocchi suffers from extreme social anxi...,12.665,/btoTzCw3zmjRtB99g2M5Mw2GUQG.jpg,8.7,127
8,/4Mt7WHox67uJ1yErwTBFcV8KWgG.jpg,1999-10-20,"[10759, 35, 16]",37854,One Piece,[JP],ja,ãƒ¯ãƒ³ãƒ”ãƒ¼ã‚¹,"Years ago, the fearsome Pirate King, Gol D. Ro...",132.746,/dum1wnm6kJOUos0XJqjB8s2UWi9.jpg,8.7,3618
9,/6UH52Fmau8RPsMAbQbjwN3wJSCj.jpg,2021-03-25,"[16, 10765, 10759, 18]",95557,Invincible,[US],en,Invincible,Mark Grayson is a normal teenager except for t...,91.332,/yDWJYRAwMNKbIYT8ZB33qy84uzO.jpg,8.7,3409
10,/2UG177tWHy7xRmMKWJHB7nAUmKd.jpg,2009-04-05,"[10759, 16, 10765]",31911,Fullmetal Alchemist: Brotherhood,[JP],ja,é‹¼ã®éŒ¬é‡‘è¡“å¸« FULLMETAL ALCHEMIST,Edward and Alphonse Elric's reckless disregard...,93.730,/5ZFUEOULaVml7pQuXxhpR2SmVUw.jpg,8.7,1581
11,/smSbK5cd8T9XHcxEUcems23BDEF.jpg,2016-12-02,"[18, 10765, 35]",67915,Goblin,[KR],ko,ì“¸ì“¸í•˜ê³ ì°¬ëž€í•˜ç¥ž-ë„ê¹¨ë¹„,In his quest for a bride to break his immortal...,124.513,/c2gon6zbqzL73DOl8mPQMMUJXvE.jpg,8.7,2448
12,/3ILMlmC30QUnYkY3XEBOyJ82Dqu.jpg,2016-04-03,"[10759, 16]",65930,My Hero Academia,[JP],ja,åƒ•ã®ãƒ’ãƒ¼ãƒ­ãƒ¼ã‚¢ã‚«ãƒ‡ãƒŸã‚¢,In a world where eighty percent of the populat...,138.427,/ivOLM47yJt90P19RH1NvJrAJz9F.jpg,8.7,4203
13,/dJ8yrSokdTMnhKJw06MllSfCegb.jpg,2019-01-12,"[16, 35, 18]",83121,Kaguya-sama: Love Is War,[JP],ja,ã‹ãã‚„æ§˜ã¯å‘Šã‚‰ã›ãŸã„ï½žå¤©æ‰ãŸã¡ã®æ‹æ„›é ­è„³æˆ¦ï½ž,Considered a genius due to having the highest ...,91.921,/5khbC6AuNgnvnoDbjIMKCOhEtIc.jpg,8.7,595
14,/iBAtBLqCMON3NPIjyQ1wdMbpTAk.jpg,2019-04-06,"[16, 10765, 10759]",85937,Demon Slayer: Kimetsu no Yaiba,[JP],ja,é¬¼æ»…ã®åˆƒ,"It is the Taisho Period in Japan. Tanjiro, a k...",150.466,/wrCVHdkBlBWdJUZPvnJWcBRuhSY.jpg,8.7,4854
15,/2vbE9ajftJ7dkqUAyxDS0WFILx8.jpg,2010-09-06,"[16, 35]",31132,Regular Show,[US],en,Regular Show,"Two bored groundskeepers, Mordecai (a six-foot...",261.456,/mS5SLxMYcKfUxA0utBSR5MOAWWr.jpg,8.7,1663
16,/iLR6tKvMu67oSK0DIgDutkPBaiy.jpg,2018-07-08,"[35, 16]",80539,Asobi Asobase - workshop of fun -,[JP],ja,ã‚ãã³ã‚ãã°ã›,"During recess, Olivia, a foreign transfer stud...",15.378,/zWE3bnCILcRpfQCsxBkMsgcEjOE.jpg,8.7,115
17,/nLKYAJCEi6OQVji1HJIxSQ74H9s.jpg,2005-02-21,"[16, 10759, 10765]",246,Avatar: The Last Airbender,[US],en,Avatar: The Last Airbender,"In a war-torn world of elemental magic, a youn...",70.273,/cHFZA8Tlv03nKTGXhLOYOLtqoSm.jpg,8.7,3166
18,/cHyY5z4txdVyGtYMvBJhCqCcJso.jpg,2020-01-10,"[16, 10765, 10751, 10759, 35]",92685,The Owl House,[US],en,The Owl House,An animated fantasy-comedy series that follows...,228.944,/zqjSex7DZn7p4dU7mMktdJ8zQV5.jpg,8.7,1274
19,/tKh3pc5MEjCIGV7hSJX76qi8aGA.jpg,2018-01-13,[16],76121,DARLING in the FRANXX,[JP],ja,ãƒ€ãƒ¼ãƒªãƒ³ãƒ»ã‚¤ãƒ³ãƒ»ã‚¶ãƒ»ãƒ•ãƒ©ãƒ³ã‚­ã‚¹,The story is set in the distant future. The la...,57.210,/rR8HgnD9tqFaSiJ69FpruHo9Gm9.jpg,8.7,1662

In [385]:
top_rated.dtypes

backdrop_path         object
first_air_date        object
genre_ids             object
id                     int64
name                  object
origin_country        object
original_language     object
original_name         object
overview              object
popularity           float64
poster_path           object
vote_average         float64
vote_count             int64
dtype: object

In [386]:
## deleting columns that aren't needed

top_rated = top_rated.drop(columns='backdrop_path')
top_rated = top_rated.drop(columns='poster_path')

In [387]:
top_rated.dtypes

first_air_date        object
genre_ids             object
id                     int64
name                  object
origin_country        object
original_language     object
original_name         object
overview              object
popularity           float64
poster_path           object
vote_average         float64
vote_count             int64
dtype: object

In [389]:
top_rated

,first_air_date,genre_ids,id,name,origin_country,original_language,original_name,overview,popularity,vote_average,vote_count
0,2021-09-03,[10764],130392,The D'Amelio Show,[US],en,The D'Amelio Show,From relative obscurity and a seemingly normal...,14.541,8.9,3183
1,2008-01-20,[18],1396,Breaking Bad,[US],en,Breaking Bad,"When Walter White, a New Mexico chemistry teac...",422.539,8.9,11222
2,2023-01-15,[18],100088,The Last of Us,[US],en,The Last of Us,Twenty years after modern civilization has bee...,4594.207,8.8,2240
3,2021-11-06,"[16, 10765, 10759, 18]",94605,Arcane,[US],en,Arcane,Amid the stark discord of twin cities Piltover...,80.527,8.7,2926
4,2013-12-02,"[16, 35, 10765, 10759]",60625,Rick and Morty,[US],en,Rick and Morty,Rick is a mentally-unbalanced but scientifical...,550.642,8.7,7949
5,2017-03-19,"[18, 10751]",70785,Anne with an E,[CA],en,Anne with an E,"A coming-of-age story about an outsider who, a...",97.088,8.7,4215
6,2022-10-12,"[16, 10759, 10765, 35]",114410,Chainsaw Man,[JP],ja,ãƒã‚§ãƒ³ã‚½ãƒ¼ãƒžãƒ³,Denji has a simple dreamâ€”to live a happy and p...,572.571,8.7,903
7,2019-04-06,"[16, 35]",85990,Hitoribocchi no Marumaruseikatsu,[JP],ja,ã²ã¨ã‚Šã¼ã£ã¡ã®â—‹â—‹ç”Ÿæ´»,Hitori Bocchi suffers from extreme social anxi...,12.665,8.7,127
8,1999-10-20,"[10759, 35, 16]",37854,One Piece,[JP],ja,ãƒ¯ãƒ³ãƒ”ãƒ¼ã‚¹,"Years ago, the fearsome Pirate King, Gol D. Ro...",132.746,8.7,3618
9,2021-03-25,"[16, 10765, 10759, 18]",95557,Invincible,[US],en,Invincible,Mark Grayson is a normal teenager except for t...,91.332,8.7,3409
10,2009-04-05,"[10759, 16, 10765]",31911,Fullmetal Alchemist: Brotherhood,[JP],ja,é‹¼ã®éŒ¬é‡‘è¡“å¸« FULLMETAL ALCHEMIST,Edward and Alphonse Elric's reckless disregard...,93.730,8.7,1581
11,2016-12-02,"[18, 10765, 35]",67915,Goblin,[KR],ko,ì“¸ì“¸í•˜ê³ ì°¬ëž€í•˜ç¥ž-ë„ê¹¨ë¹„,In his quest for a bride to break his immortal...,124.513,8.7,2448
12,2016-04-03,"[10759, 16]",65930,My Hero Academia,[JP],ja,åƒ•ã®ãƒ’ãƒ¼ãƒ­ãƒ¼ã‚¢ã‚«ãƒ‡ãƒŸã‚¢,In a world where eighty percent of the populat...,138.427,8.7,4203
13,2019-01-12,"[16, 35, 18]",83121,Kaguya-sama: Love Is War,[JP],ja,ã‹ãã‚„æ§˜ã¯å‘Šã‚‰ã›ãŸã„ï½žå¤©æ‰ãŸã¡ã®æ‹æ„›é ­è„³æˆ¦ï½ž,Considered a genius due to having the highest ...,91.921,8.7,595
14,2019-04-06,"[16, 10765, 10759]",85937,Demon Slayer: Kimetsu no Yaiba,[JP],ja,é¬¼æ»…ã®åˆƒ,"It is the Taisho Period in Japan. Tanjiro, a k...",150.466,8.7,4854
15,2010-09-06,"[16, 35]",31132,Regular Show,[US],en,Regular Show,"Two bored groundskeepers, Mordecai (a six-foot...",261.456,8.7,1663
16,2018-07-08,"[35, 16]",80539,Asobi Asobase - workshop of fun -,[JP],ja,ã‚ãã³ã‚ãã°ã›,"During recess, Olivia, a foreign transfer stud...",15.378,8.7,115
17,2005-02-21,"[16, 10759, 10765]",246,Avatar: The Last Airbender,[US],en,Avatar: The Last Airbender,"In a war-torn world of elemental magic, a youn...",70.273,8.7,3166
18,2020-01-10,"[16, 10765, 10751, 10759, 35]",92685,The Owl House,[US],en,The Owl House,An animated fantasy-comedy series that follows...,228.944,8.7,1274
19,2018-01-13,[16],76121,DARLING in the FRANXX,[JP],ja,ãƒ€ãƒ¼ãƒªãƒ³ãƒ»ã‚¤ãƒ³ãƒ»ã‚¶ãƒ»ãƒ•ãƒ©ãƒ³ã‚­ã‚¹,The story is set in the distant future. The la...,57.210,8.7,1662

In [ ]:
top_20_episodes = budget.sort_values(by='worldwide_gross',ascending=False).head(20)
top_20_episodes