# __Importing Pandas/Numpy/Zipfile and Opening CSV files__

In [8]:
# importing pandas, numpy and zipfile
import zipfile
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta
import json

In [ ]:
import np

In [301]:
ls

README.md                student.ipynb
stephanie_ciaccia.ipynb  zippedData/

In [43]:
## opening read file
ratings = pd.read_csv('zippedData/tmdb.movies.csv.gz',compression='gzip')
budget = pd.read_csv('zippedData/tn.movie_budgets.csv.gz',compression='gzip')

# Data Source #1  TMDB movies

In [46]:
ratings.head(5)

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [254]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   genre_ids          26517 non-null  object
 1   id                 26517 non-null  int64
 2   original_language  26517 non-null  object
 3   original_title     26517 non-null  object
 4   popularity         26517 non-null  float64
 5   release_date       26517 non-null  datetime64[ns]
 6   title              26517 non-null  object
 7   vote_average       26517 non-null  float64
 8   vote_count         26517 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 1.8+ MB

In [47]:
ratings.describe()

        Unnamed: 0             id    popularity  vote_average    vote_count
count  26517.00000   26517.000000  26517.000000  26517.000000  26517.000000
mean   13258.00000  295050.153260      3.130912      5.991281    194.224837
std     7654.94288  153661.615648      4.355229      1.852946    960.961095
min        0.00000      27.000000      0.600000      0.000000      1.000000
25%     6629.00000  157851.000000      0.600000      5.000000      2.000000
50%    13258.00000  309581.000000      1.374000      6.000000      5.000000
75%    19887.00000  419542.000000      3.694000      7.000000     28.000000
max    26516.00000  608444.000000     80.773000     10.000000  22186.000000

In [48]:
ratings.head(1)

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788

In [49]:
ratings.columns

Index(['Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title',
       'popularity', 'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')

In [50]:
ratings.shape

(26517, 10)

In [51]:
# checking for null values
ratings.isna().sum()

Unnamed: 0           0
genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

In [52]:
ratings.dtypes

Unnamed: 0             int64
genre_ids             object
id                     int64
original_language     object
original_title        object
popularity           float64
release_date          object
title                 object
vote_average         float64
vote_count             int64
dtype: object

# _Cleaning Dataframe - TMDB_

In [53]:
##removing 'Unnamed: Column 0' as it is a repeat of the values in the index

ratings = ratings.drop(["Unnamed: 0"], axis = 1)

In [54]:
ratings.dtypes

genre_ids             object
id                     int64
original_language     object
original_title        object
popularity           float64
release_date          object
title                 object
vote_average         float64
vote_count             int64
dtype: object

In [55]:
ratings.head(5)

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [64]:
##information about first and last movie entry in data

first_movie = min(ratings['release_date'])
last_movie = max(ratings['release_date'])

print(first_movie)
print(last_movie)

1930-04-29 00:00:00
2020-12-25 00:00:00

In [ ]:
##genre_id key

Action          28
Adventure       12
Animation       16
Comedy          35
Crime           80
Documentary     99
Drama           18
Family          10751
Fantasy         14
History         36
Horror          27
Music           10402
Mystery         9648
Romance         10749
Science Fiction 878
TV Movie        10770
Thriller        53
War             10752
Western         37

In [59]:
## converting 'release_date' column type from integer to datetime

ratings['release_date'] = pd.to_datetime(ratings['release_date'])

In [60]:
ratings['release_date']

0       2010-11-19
1       2010-03-26
2       2010-05-07
3       1995-11-22
4       2010-07-16
           ...
26512   2018-10-13
26513   2018-05-01
26514   2018-10-01
26515   2018-06-22
26516   2018-10-05
Name: release_date, Length: 26517, dtype: datetime64[ns]

## _Analyzing - TMDB_

In [68]:
top_20_movies = ratings.sort_values(by='popularity',ascending=False).head(20)
top_20_movies

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
23811,"[12, 28, 14]",299536,en,Avengers: Infinity War,80.773,2018-04-27,Avengers: Infinity War,8.3,13948
11019,"[28, 53]",245891,en,John Wick,78.123,2014-10-24,John Wick,7.2,10081
23812,"[28, 12, 16, 878, 35]",324857,en,Spider-Man: Into the Spider-Verse,60.534,2018-12-14,Spider-Man: Into the Spider-Verse,8.4,4048
11020,"[28, 12, 14]",122917,en,The Hobbit: The Battle of the Five Armies,53.783,2014-12-17,The Hobbit: The Battle of the Five Armies,7.3,8392
5179,"[878, 28, 12]",24428,en,The Avengers,50.289,2012-05-04,The Avengers,7.6,19673
11021,"[28, 878, 12]",118340,en,Guardians of the Galaxy,49.606,2014-08-01,Guardians of the Galaxy,7.9,17958
20617,"[878, 28, 53]",335984,en,Blade Runner 2049,48.571,2017-10-06,Blade Runner 2049,7.4,6679
23813,"[878, 28, 53]",335984,en,Blade Runner 2049,48.571,2017-10-06,Blade Runner 2049,7.4,6679
23814,[12],338952,en,Fantastic Beasts: The Crimes of Grindelwald,48.508,2018-11-16,Fantastic Beasts: The Crimes of Grindelwald,6.9,4870
23815,"[10751, 16, 35, 14, 12]",404368,en,Ralph Breaks the Internet,48.057,2018-11-21,Ralph Breaks the Internet,7.2,2626
20618,"[28, 12, 878, 18]",315635,en,Spider-Man: Homecoming,46.775,2017-07-07,Spider-Man: Homecoming,7.4,11585
20619,"[53, 28, 80]",324552,en,John Wick: Chapter 2,45.253,2017-02-10,John Wick: Chapter 2,7.0,5863
20620,"[28, 18, 878]",263115,en,Logan,45.000,2017-03-03,Logan,7.8,12330
23816,"[28, 12, 878, 35]",363088,en,Ant-Man and the Wasp,44.729,2018-07-06,Ant-Man and the Wasp,7.0,6290
14169,"[28, 12, 878]",99861,en,Avengers: Age of Ultron,44.383,2015-05-01,Avengers: Age of Ultron,7.3,13457
23817,"[28, 12, 14, 878]",284054,en,Black Panther,44.140,2018-02-16,Black Panther,7.4,12365
23818,"[878, 28]",335983,en,Venom,44.007,2018-10-05,Venom,6.6,6206
20621,"[28, 12, 35, 14]",284053,en,Thor: Ragnarok,43.450,2017-11-03,Thor: Ragnarok,7.5,11380
23819,"[28, 12, 35, 14]",284053,en,Thor: Ragnarok,43.450,2017-11-03,Thor: Ragnarok,7.5,11380
23820,"[28, 12, 878]",424783,en,Bumblebee,43.078,2018-12-21,Bumblebee,6.5,2425

# Data Source #2 - TN movies budget

# _Cleaning TV movies budget_

In [317]:
budget

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [216]:
budget.head(5)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [217]:
budget.dtypes

id                    int64
release_date         object
movie                object
production_budget    object
domestic_gross       object
worldwide_gross      object
dtype: object

In [218]:
### changing type of release Date to datetime

budget['release_date'] = pd.to_datetime(df['release_date'])

In [219]:
### removing $ and , from Production Budget and and changing type to integer

budget['production_budget'] = budget['production_budget'].str.replace('$', '')
budget['production_budget'] = budget['production_budget'].str.replace(',', '')
budget['production_budget'] = budget['production_budget'].astype(int)

In [220]:
### removing $ and , from Domestic Gross and and changing type to integer

budget['domestic_gross'] = budget['domestic_gross'].str.replace('$', '')
budget['domestic_gross'] = budget['domestic_gross'].str.replace(',', '')
budget['domestic_gross'] = budget['domestic_gross'].astype(int)

In [225]:
### removing $ and , from Worldwide Gross and changing type to integer

budget['worldwide_gross'] = budget['worldwide_gross'].str.replace('$', '')
budget['worldwide_gross'] = budget['worldwide_gross'].str.replace(',', '')
budget['worldwide_gross'] = budget['worldwide_gross'].astype(int)

In [222]:
#sanity check w/ data types
budget.dtypes

id                            int64
release_date         datetime64[ns]
movie                        object
production_budget             int64
domestic_gross                int64
worldwide_gross              object
dtype: object

In [223]:
#checking for null values
budget.isna( ).sum()

id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

In [224]:
budget.describe()

                id  production_budget  domestic_gross
count  5782.000000       5.782000e+03    5.782000e+03
mean     50.372363       3.158776e+07    4.187333e+07
std      28.821076       4.181208e+07    6.824060e+07
min       1.000000       1.100000e+03    0.000000e+00
25%      25.000000       5.000000e+06    1.429534e+06
50%      50.000000       1.700000e+07    1.722594e+07
75%      75.000000       4.000000e+07    5.234866e+07
max     100.000000       4.250000e+08    9.366622e+08

In [227]:
budget.head(5)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,2010-11-19,Avatar,425000000,760507625,2776345279
1,2,2010-03-26,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
2,3,2010-05-07,Dark Phoenix,350000000,42762350,149762350
3,4,1995-11-22,Avengers: Age of Ultron,330600000,459005868,1403013963
4,5,2010-07-16,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747

# _Analyzing TV movies Budget_

In [231]:
budget['worldwide_gross'].

0            367
8000000        9
7000000        6
2000000        6
4000000        4
            ...
166000000      1
42843521       1
101173038      1
478595         1
12996          1
Name: worldwide_gross, Length: 5356, dtype: int64

In [235]:

oldest_movie = min(budget['release_date'])
newest_movie = max(budget['release_date'])

print(oldest_movie)
print(newest_movie)

1936-02-27 00:00:00
2017-03-15 00:00:00

In [248]:
movie_range = relativedelta(newest_movie, oldest_movie).years
movie_range

81

In [390]:
top_20_movies = budget.sort_values(by='worldwide_gross',ascending=False).head(20)
top_20_movies

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
3737,38,"Aug 21, 2009",Fifty Dead Men Walking,"$10,000,000",$0,"$997,921"
3432,33,"Sep 30, 2005",Duma,"$12,000,000","$870,067","$994,790"
5062,63,"Apr 1, 2011",Insidious,"$1,500,000","$54,009,150","$99,870,886"
883,84,"Apr 2, 2004",Hellboy,"$60,000,000","$59,623,958","$99,823,958"
5613,14,"Mar 21, 1980",Mad Max,"$200,000","$8,750,000","$99,750,000"
1078,79,"Aug 17, 2018",Alpha,"$51,000,000","$35,851,379","$99,624,873"
1682,83,"Dec 23, 1994",Street Fighter,"$35,000,000","$33,423,000","$99,423,000"
1792,93,"Jun 16, 2006",Nacho Libre,"$32,000,000","$80,197,993","$99,296,462"
4373,74,"Jun 4, 1999",Desert Blue,"$5,000,000","$99,147","$99,147"
2343,44,"Nov 21, 2007",Hitman,"$24,000,000","$39,687,694","$99,135,571"
381,82,"Oct 16, 2009",Where the Wild Things Are,"$100,000,000","$77,233,467","$99,123,656"
3247,48,"Feb 11, 2011",Justin Bieber: Never Say Never,"$13,000,000","$73,013,910","$99,034,125"
591,92,"Apr 14, 2006",The Wild,"$80,000,000","$37,384,046","$99,010,667"
4358,59,"Jul 25, 2008",American Teen,"$5,000,000","$942,441","$989,319"
608,9,"Jun 15, 1994",The Lion King,"$79,300,000","$421,785,283","$986,214,868"
582,83,"Mar 8, 2002",The Time Machine,"$80,000,000","$56,684,819","$98,983,590"
3364,65,"Nov 22, 2013",Philomena,"$12,000,000","$37,709,979","$98,963,392"
1058,59,"Sep 18, 2015",Black Mass,"$53,000,000","$62,575,678","$98,837,872"
890,91,"Dec 25, 2003",Paycheck,"$60,000,000","$53,789,313","$98,819,789"
5107,8,"Jul 20, 2018",Teefa in Trouble,"$1,500,000",$0,"$98,806"

In [280]:
top_20_movies = budget.sort_values(by="worldwide_gross",ascending=False).head(25)
top_20_movies

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,2010-11-19,Avatar,425000000,760507625,2776345279
42,43,2010-06-24,Titanic,200000000,659363944,2208208395
5,6,2010-02-11,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2053311220
6,7,2009-12-18,Avengers: Infinity War,300000000,678815482,2048134200
33,34,2007-08-03,Jurassic World,215000000,652270625,1648854864
66,67,2010-07-27,Furious 7,190000000,353007020,1518722794
26,27,1995-04-07,The Avengers,225000000,623279547,1517935897
3,4,1995-11-22,Avengers: Age of Ultron,330600000,459005868,1403013963
41,42,2010-08-13,Black Panther,200000000,700059566,1348258224
260,61,2010-08-20,Harry Potter and the Deathly Hallows: Part II,125000000,381193157,1341693157
4,5,2010-07-16,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747
112,13,2010-01-25,Jurassic World: Fallen Kingdom,170000000,417719760,1305772799
155,56,2010-05-01,Frozen,150000000,400738009,1272469910
134,35,2010-09-15,Beauty and the Beast,160000000,504014165,1259199706
43,44,1959-03-18,Incredibles 2,200000000,608581744,1242520711
22,23,2010-12-10,The Fate of the Furious,250000000,225764765,1234846267
47,48,2010-12-03,Iron Man 3,200000000,408992272,1215392272
672,73,2009-01-18,Minions,74000000,336045770,1160336173
135,36,2010-10-08,Aquaman,160000000,335061807,1146894640
425,26,2010-11-05,The Lord of the Rings: The Return of the King,94000000,377845905,1141403341
16,17,2010-01-11,Captain America: Civil War,250000000,408084349,1140069413
63,64,2010-07-23,Transformers: Dark of the Moon,195000000,352390543,1123790543
95,96,2010-08-20,Captain Marvel,175000000,426525952,1123061550
51,52,2010-08-06,Skyfall,200000000,304360277,1110526981
36,37,2010-05-14,Transformers: Age of Extinction,210000000,245439076,1104039076

# Dataset #3 from TMBD API - THE MOVIE DB TOP RATED TV

In [292]:
import requests

In [352]:
tv_api = requests.get('https://api.themoviedb.org/3/tv/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=1'
)
print(tv_api.status_code)

200

In [ ]:
tv_api.json().keys()

top_rated = tv_api.json()['results']

top_rated = pd.DataFrame(top_rated)
len(top_rated)

In [ ]:
tv_api.json().keys()

In [328]:
## PAGE 2
#requesting API
tv_api_2 = requests.get('https://api.themoviedb.org/3/tv/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=2'
)

#pulling requests
top_rated_2 = tv_api_2.json()['results']


#making Dataframe
top_rated_2 = pd.DataFrame(top_rated_2)

###Page 3

#requesting API
tv_api_3 = requests.get('https://api.themoviedb.org/3/tv/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=3'
)

#pulling requests
top_rated_3 = tv_api_3.json()['results']


#making Dataframe
top_rated_3= pd.DataFrame(top_rated_3)

###Page 4

#requesting API
tv_api_4 = requests.get('https://api.themoviedb.org/3/tv/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=4'
)

#pulling requests
top_rated_4 = tv_api_4.json()['results']


#making Dataframe
top_rated_4 = pd.DataFrame(top_rated_4)

###Page 5

#requesting API
tv_api_5 = requests.get('https://api.themoviedb.org/3/tv/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=5'
)

#pulling requests
top_rated_5 = tv_api_5.json()['results']


#making Dataframe
top_rated_5 = pd.DataFrame(top_rated_5)

In [335]:
###Page 6

#requesting API
tv_api_6 = requests.get('https://api.themoviedb.org/3/tv/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=6'
)

#pulling requests
top_rated_6 = tv_api_6.json()['results']


#making Dataframe
top_rated_6 = pd.DataFrame(top_rated_6)

###Page 7

#requesting API
tv_api_7 = requests.get('https://api.themoviedb.org/3/tv/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=7'
)

#pulling requests
top_rated_7 = tv_api_7.json()['results']


#making Dataframe
top_rated_7 = pd.DataFrame(top_rated_7)

###Page 8

#requesting API
tv_api_8 = requests.get('https://api.themoviedb.org/3/tv/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=8'
)

#pulling requests
top_rated_8 = tv_api_8.json()['results']


#making Dataframe
top_rated_8 = pd.DataFrame(top_rated_8)

###Page 9

#requesting API
tv_api_9 = requests.get('https://api.themoviedb.org/3/tv/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=9'
)

#pulling requests
top_rated_9 = tv_api_9.json()['results']


#making Dataframe
top_rated_9 = pd.DataFrame(top_rated_9)

###Page 10

#requesting API
tv_api_10 = requests.get('https://api.themoviedb.org/3/tv/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=10'
)

#pulling requests
top_rated_10 = tv_api_10.json()['results']


#making Dataframe
top_rated_10 = pd.DataFrame(top_rated_10)

In [386]:
top_rated_200 = pd.concat([top_rated, top_rated_2, top_rated_3, top_rated_4, top_rated_5, top_rated_6, top_rated_7, top_rated_8, top_rated_9, top_rated_10])

In [418]:
top_rated_200.dtypes

first_air_date        object
genre_ids             object
id                     int64
name                  object
origin_country        object
original_language     object
original_name         object
overview              object
popularity           float64
vote_average         float64
vote_count             int64
genre_id_1             int64
genre_id_2             int64
genre_id_3             int64
genre_id_4             int64
genre_id_5             int64
genre_id_6             int64
dtype: object

In [419]:
top_rated_200.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 19
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   first_air_date     200 non-null    object
 1   genre_ids          200 non-null    object
 2   id                 200 non-null    int64
 3   name               200 non-null    object
 4   origin_country     200 non-null    object
 5   original_language  200 non-null    object
 6   original_name      200 non-null    object
 7   overview           200 non-null    object
 8   popularity         200 non-null    float64
 9   vote_average       200 non-null    float64
 10  vote_count         200 non-null    int64
 11  genre_id_1         200 non-null    int64
 12  genre_id_2         200 non-null    int64
 13  genre_id_3         200 non-null    int64
 14  genre_id_4         200 non-null    int64
 15  genre_id_5         200 non-null    int64
 16  genre_id_6         200 non-null    int64
dtypes: float64(2), int64(8), object(7)
memory usage: 28.1+ KB

# _THE MOVIE DB TOP RATED TV - CLEANING_

In [387]:
## deleting columns that aren't needed

top_rated_200 = top_rated_200.drop(columns='backdrop_path')
top_rated_200 = top_rated_200.drop(columns='poster_path')

In [420]:
top_rated_200.dtypes

first_air_date        object
genre_ids             object
id                     int64
name                  object
origin_country        object
original_language     object
original_name         object
overview              object
popularity           float64
vote_average         float64
vote_count             int64
genre_id_1             int64
genre_id_2             int64
genre_id_3             int64
genre_id_4             int64
genre_id_5             int64
genre_id_6             int64
dtype: object

In [389]:
#splitting the genres into multiple columns

# split the list into columns
split_rated = top_rated_200['genre_ids'].apply(pd.Series)

#renaming the columns
split_rated = split_rated.rename(columns=lambda x: f'col_{x+1}')

# add the new columns back to top_rated DataFrame
top_rated_200 = pd.concat([top_rated_200, split_rated], axis=1)

In [421]:
#renaming the genre columns
top_rated_200.rename(columns = {'col_1':'genre_id_1','col_2':'genre_id_2','col_3':'genre_id_3',
                            'col_4':'genre_id_4','col_5':'genre_id_5','col_6':'genre_id_6'}, inplace = True)

In [406]:
##changing N/A variables to 0
top_rated_200 = top_rated_200.fillna(0)

In [422]:
top_rated_200.dtypes

first_air_date        object
genre_ids             object
id                     int64
name                  object
origin_country        object
original_language     object
original_name         object
overview              object
popularity           float64
vote_average         float64
vote_count             int64
genre_id_1             int64
genre_id_2             int64
genre_id_3             int64
genre_id_4             int64
genre_id_5             int64
genre_id_6             int64
dtype: object

In [423]:
## converting  column type from float64 to int

top_rated_200[['genre_id_1','genre_id_2','genre_id_3','genre_id_4','genre_id_5', 'genre_id_6']] = top_rated_200[['genre_id_1','genre_id_2','genre_id_3','genre_id_4','genre_id_5','genre_id_6']].astype(int)

In [400]:
top_rated_200['genre_id_1'].value_counts()

16       99
18       34
10759    22
35       18
10765    12
80        5
10764     4
10751     3
99        3
Name: genre_id_1, dtype: int64

In [424]:
top_rated_200.dtypes

first_air_date        object
genre_ids             object
id                     int64
name                  object
origin_country        object
original_language     object
original_name         object
overview              object
popularity           float64
vote_average         float64
vote_count             int64
genre_id_1             int64
genre_id_2             int64
genre_id_3             int64
genre_id_4             int64
genre_id_5             int64
genre_id_6             int64
dtype: object

In [394]:
#dropping original genre_ids column
top_rated_200.drop(columns='genre_ids')

,first_air_date,id,name,origin_country,original_language,original_name,overview,popularity,vote_average,vote_count,col_1,col_2,col_3,col_4,col_5,col_6
0,2021-09-03,130392,The D'Amelio Show,[US],en,The D'Amelio Show,From relative obscurity and a seemingly normal...,12.304,8.9,3183,10764.0,NaN,NaN,NaN,NaN,NaN
1,2008-01-20,1396,Breaking Bad,[US],en,Breaking Bad,"When Walter White, a New Mexico chemistry teac...",418.122,8.9,11228,18.0,NaN,NaN,NaN,NaN,NaN
2,2023-01-15,100088,The Last of Us,[US],en,The Last of Us,Twenty years after modern civilization has bee...,6431.890,8.8,2298,18.0,NaN,NaN,NaN,NaN,NaN
3,2021-11-06,94605,Arcane,[US],en,Arcane,Amid the stark discord of twin cities Piltover...,77.819,8.7,2927,16.0,10765.0,10759.0,18.0,NaN,NaN
4,2013-12-02,60625,Rick and Morty,[US],en,Rick and Morty,Rick is a mentally-unbalanced but scientifical...,534.420,8.7,7954,16.0,35.0,10765.0,10759.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,2020-09-10,106292,Julie and the Phantoms,[US],en,Julie and the Phantoms,Teenage Julie finds her passion for music and ...,14.927,8.5,518,10751.0,35.0,10765.0,NaN,NaN,NaN
16,2015-01-10,62110,Assassination Classroom,[JP],ja,暗殺教室,The students of class 3-E have a mission: kill...,86.020,8.5,854,16.0,35.0,10759.0,10765.0,NaN,NaN
17,2017-10-03,73223,Black Clover,[JP],ja,ブラッククローバー,Asta and Yuno are two orphans who want the sam...,60.435,8.5,1572,10759.0,16.0,35.0,NaN,NaN,NaN
18,2021-04-08,112160,The Way of the Househusband,[JP],ja,極主夫道,"After disappearing from the underworld, the le...",21.535,8.5,335,16.0,35.0,NaN,NaN,NaN,NaN
19,2018-04-07,77702,Magical Girl Site,[JP],ja,魔法少女サイト,Aya Asagiri is a middle school girl who has pr...,20.914,8.5,161,16.0,18.0,9648.0,NaN,NaN,NaN

In [401]:
top_rated_200['genre_id_1'].describe()

count      200.00000
mean      2223.55000
std       4346.05358
min         16.00000
25%         16.00000
50%         18.00000
75%         35.00000
max      10765.00000
Name: genre_id_1, dtype: float64

# _THE MOVIE DB TOP RATED TV - ANALYSIS_

In [318]:
##genres

TV SHOW
Action & Adventure    10759
Animation             16
Comedy                35
Crime                 80
Documentary           99
Drama                 18
Family                10751
Kids                  10762
Mystery               9648
News                  10763
Reality               10764
Sci-Fi & Fantasy      10765
Soap                  10766
Talk                  10767
War & Politics        10768
Western               37

SyntaxError: invalid syntax (<ipython-input-318-e4b66b4102a0>, line 3)

In [408]:
top_20_series = top_rated_200.sort_values(by='vote_average',ascending=False).head(20)
top_20_series

,first_air_date,genre_ids,id,name,origin_country,original_language,original_name,overview,popularity,vote_average,vote_count,genre_id_1,genre_id_2,genre_id_3,genre_id_4,genre_id_5,genre_id_6
0,2021-09-03,[10764],130392,The D'Amelio Show,[US],en,The D'Amelio Show,From relative obscurity and a seemingly normal...,12.304,8.9,3183,10764,0,0,0,0,0
1,2008-01-20,[18],1396,Breaking Bad,[US],en,Breaking Bad,"When Walter White, a New Mexico chemistry teac...",418.122,8.9,11228,18,0,0,0,0,0
2,2023-01-15,[18],100088,The Last of Us,[US],en,The Last of Us,Twenty years after modern civilization has bee...,6431.890,8.8,2298,18,0,0,0,0,0
11,2000-10-03,"[16, 35, 18, 10759]",42705,Fighting Spirit,[JP],ja,はじめの一歩,Makunouchi Ippo is an ordinary high school stu...,188.462,8.7,834,16,35,18,10759,0,0
4,2022-06-18,"[18, 10759, 9648, 10765]",135157,Alchemy of Souls,[KR],ko,환혼,A powerful sorceress in a blind woman's body e...,318.869,8.7,307,18,10759,9648,10765,0,0
5,2012-01-06,"[16, 10759, 35, 10765]",45950,High School DxD,[JP],ja,ハイスクールD×D,"The story follows Issei Hyōdō, a dim-witted, l...",142.921,8.7,1600,16,10759,35,10765,0,0
6,2023-01-20,"[80, 18]",217460,Shanty Town,[NG],en,Shanty Town,A group of courtesans attempts to escape the g...,13.649,8.7,103,80,18,0,0,0,0
7,2022-04-09,"[16, 35, 10759]",120089,SPY x FAMILY,[JP],ja,SPY×FAMILY,World peace is at stake and secret agent Twili...,297.036,8.7,1230,16,35,10759,0,0,0
8,2014-04-06,"[16, 35, 18]",60863,Haikyu!!,[JP],ja,ハイキュー!!,Based off of the original Weekly Shonen Jump m...,73.545,8.7,1089,16,35,18,0,0,0
9,2011-10-02,"[10759, 16, 18]",46298,Hunter x Hunter,[JP],ja,ハンターｘハンター,Twelve-year-old Gon Freecss one day discovers ...,172.389,8.7,1335,10759,16,18,0,0,0
10,2022-11-03,[99],213762,Be Eternal: Champions of America,[AR],es,Sean eternos: Campeones de América,This series takes an unprecedented closeup loo...,27.083,8.7,107,99,0,0,0,0,0
13,2022-01-09,"[16, 35, 18]",123249,My Dress-Up Darling,[JP],ja,その着せ替え人形は恋をする,Wakana Gojo is a high school boy who wants to ...,78.923,8.7,387,16,35,18,0,0,0
12,2021-07-01,[18],125910,Young Royals,[SE],sv,Young Royals,Prince Wilhelm adjusts to life at his prestigi...,37.012,8.7,852,18,0,0,0,0,0
2,2009-11-28,"[10751, 35]",31356,Big Time Rush,[US],en,Big Time Rush,Four teenage friends move from Minneapolis to ...,59.274,8.7,1508,10751,35,0,0,0,0
15,2012-10-06,"[16, 10759, 10765]",45790,JoJo's Bizarre Adventure,[JP],ja,ジョジョの奇妙な冒険,Follow the intergenerational feud between the ...,191.831,8.7,1163,16,10759,10765,0,0,0
16,2018-10-04,"[16, 35, 9648]",82739,Rascal Does Not Dream of Bunny Girl Senpai,[JP],ja,青春ブタ野郎はバニーガール先輩の夢を見ない,"Puberty Syndrome—a rumored, mysterious syndrom...",60.369,8.7,1025,16,35,9648,0,0,0
17,2016-01-14,"[10759, 16, 35, 10765]",65844,KonoSuba – God's blessing on this wonderful wo...,[JP],ja,この素晴らしい世界に祝福を！,"After a traffic accident, Kazuma Sato’s disap...",204.356,8.7,1103,10759,16,35,10765,0,0
18,2012-10-07,"[16, 10759, 10765]",60654,Magi,[JP],ja,マギ,This story is about the flow of fate and the b...,34.167,8.7,145,16,10759,10765,0,0,0
19,1995-10-04,"[10765, 16, 18]",890,Neon Genesis Evangelion,[JP],ja,新世紀エヴァンゲリオン,"At the turn of the century, the Angels returne...",69.934,8.7,1294,10765,16,18,0,0,0
0,2022-09-13,"[10759, 16, 10765]",105248,Cyberpunk: Edgerunners,[JP],ja,サイバーパンク：エッジランナーズ,In a dystopia riddled with corruption and cybe...,90.287,8.7,783,10759,16,10765,0,0,0

In [409]:
oldest_episode = min(top_rated_200['first_air_date'])
newest_episode = max(top_rated_200['first_air_date'])

print(oldest_episode)
print(newest_episode)

1985-03-04
2023-01-20

# Dataset #4 from TMDB API - UPDATED Movie Ratings

#Pulling a new set of data from TMBD so we have updated movie list that is current. The set that we were given stops in 2020.

In [537]:
##Page 1
#requesting API

movie_api = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=1'
)

#pulling results key

top_movies = movie_api.json()['results']

##creating Dataframe

top_movies = pd.DataFrame(top_movies)


print(movie_api.status_code)

200

In [538]:
movie_api.json().keys()

dict_keys(['page', 'results', 'total_pages', 'total_results'])

In [555]:
## PAGE 2
#requesting API
movie_api_2 = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=2'
)

#pulling requests
top_movies_2 = movie_api_2.json()['results']


#making Dataframe
top_movies_2 = pd.DataFrame(top_movies_2)

## PAGE 3
#requesting API
movie_api_3 = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=3'
)

#pulling requests
top_movies_3 = movie_api_3.json()['results']


#making Dataframe
top_movies_3  = pd.DataFrame(top_movies_3)

## PAGE 4
#requesting API
movie_api_4 = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=4'
)

#pulling requests
top_movies_4 = movie_api_4.json()['results']


#making Dataframe
top_movies_4 = pd.DataFrame(top_movies_4)

## PAGE 5
#requesting API
movie_api_5 = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=5'
)

#pulling requests
top_movies_5 = movie_api_5.json()['results']


#making Dataframe
top_movies_5 = pd.DataFrame(top_movies_5)

## PAGE 6
#requesting API
movie_api_6 = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=6'
)

#pulling requests
top_movies_6 = movie_api_6.json()['results']


#making Dataframe
top_movies_6 = pd.DataFrame(top_movies_6)

## PAGE 7
#requesting API
movie_api_7 = requests.get('https://api.themoviedb.org/3/tv/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=7'
)

#pulling requests
top_movies_7 = movie_api_7.json()['results']


#making Dataframe
top_movies_7 = pd.DataFrame(top_movies_7)

## PAGE 8
#requesting API
movie_api_8 = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=8'
)

#pulling requests
top_movies_8 = movie_api_8.json()['results']


#making Dataframe
top_movies_8 = pd.DataFrame(top_movies_8)

## PAGE 9
#requesting API
movie_api_9 = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=9'
)

#pulling requests
top_movies_9 = movie_api_9.json()['results']


#making Dataframe
top_movies_9 = pd.DataFrame(top_movies_9)

## PAGE 10
#requesting API
movie_api_10 = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=10'
)

#pulling requests
top_movies_10 = movie_api_10.json()['results']


#making Dataframe
top_movies_10 = pd.DataFrame(top_movies_10)

In [586]:
top_movies_200 = pd.concat([top_movies, top_movies_2, top_movies_3, top_movies_4, top_movies_5, top_movies_6, top_movies_7, top_movies_8, top_movies_9, top_movies_10])

In [587]:
top_movies_200.describe()

                  id   popularity  vote_average    vote_count
count     200.000000   200.000000    200.000000    200.000000
mean   208636.790000    63.261655      8.326000   5553.235000
std    265034.960055   189.932876      0.158903   7320.587446
min        13.000000     0.600000      8.100000    112.000000
25%       702.250000    18.273750      8.200000    458.500000
50%     36550.000000    31.975500      8.300000   1895.500000
75%    453032.500000    60.937250      8.400000   8977.000000
max    995133.000000  2589.341000      8.700000  33279.000000

# _CLEANING_

In [588]:
#dropping poster urls that aren't needed

top_movies_200 = top_movies_200.drop(columns='backdrop_path')
top_movies_200 = top_movies_200.drop(columns='poster_path')

In [589]:
#splitting the genres into multiple columns

# split the list into columns
split_movies = top_movies_200['genre_ids'].apply(pd.Series)

#renaming the columns
split_movies = split_movies.rename(columns=lambda x: f'col_{x+1}')

# add the new columns back to top_rated DataFrame
top_movies_200 = pd.concat([top_movies_200, split_movies], axis=1)

In [597]:
#renaming the genre columns
top_movies_200.rename(columns = {'col_1':'genre_id_1','col_2':'genre_id_2','col_3':'genre_id_3',
                            'col_4':'genre_id_4','col_5':'genre_id_5','col_6':'genre_id_6','col_7':'genre_id_7','col_8':'genre_id_8','col_9':'genre_id_9'}, inplace = True)

In [591]:
top_movies_200.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 19
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              180 non-null    object
 1   genre_ids          200 non-null    object
 2   id                 200 non-null    int64
 3   original_language  200 non-null    object
 4   original_title     180 non-null    object
 5   overview           200 non-null    object
 6   popularity         200 non-null    float64
 7   release_date       180 non-null    object
 8   title              180 non-null    object
 9   video              180 non-null    object
 10  vote_average       200 non-null    float64
 11  vote_count         200 non-null    int64
 12  first_air_date     20 non-null     object
 13  name               20 non-null     object
 14  origin_country     20 non-null     object
 15  original_name      20 non-null     object
 16  genre_id_1         200 non-null    float64
 17  genre_id_2         164 non-null    float64
 18  genre_id_3         94 non-null     float64
 19  genre_id_4         31 non-null     float64
 20  genre_id_5         7 non-null      float64
 21  genre_id_6         2 non-null      float64
 22  genre_id_7         1 non-null      float64
 23  genre_id_8         1 non-null      float64
 24  genre_id_9         1 non-null      float64
dtypes: float64(11), int64(2), object(12)
memory usage: 40.6+ KB

In [592]:
top_movies_200.head()

,adult,genre_ids,id,original_language,original_title,overview,popularity,release_date,title,video,...,original_name,genre_id_1,genre_id_2,genre_id_3,genre_id_4,genre_id_5,genre_id_6,genre_id_7,genre_id_8,genre_id_9
0,False,"[18, 80]",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",107.857,1972-03-14,The Godfather,False,...,NaN,18.0,80.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,False,"[18, 80]",278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,91.167,1994-09-23,The Shawshank Redemption,False,...,NaN,18.0,80.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,False,"[35, 14]",772071,es,Cuando Sea Joven,70-year-old Malena gets a second chance at lif...,55.691,2022-09-14,Cuando Sea Joven,False,...,NaN,35.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,False,"[16, 10751, 12, 14]",995133,en,"The Boy, the Mole, the Fox and the Horse","The unlikely friendship of a boy, a mole, a fo...",33.505,2022-12-25,"The Boy, the Mole, the Fox and the Horse",False,...,NaN,16.0,10751.0,12.0,14.0,NaN,NaN,NaN,NaN,NaN
4,False,"[18, 80]",240,en,The Godfather Part II,In the continuing saga of the Corleone crime f...,70.750,1974-12-20,The Godfather Part II,False,...,NaN,18.0,80.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [594]:
##dropping genre_id's column
top_movies_200 = top_movies_200.drop(columns='genre_ids')

In [595]:
top_movies_200.head()

,adult,id,original_language,original_title,overview,popularity,release_date,title,video,vote_average,...,original_name,genre_id_1,genre_id_2,genre_id_3,genre_id_4,genre_id_5,genre_id_6,genre_id_7,genre_id_8,genre_id_9
0,False,238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",107.857,1972-03-14,The Godfather,False,8.7,...,NaN,18.0,80.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,False,278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,91.167,1994-09-23,The Shawshank Redemption,False,8.7,...,NaN,18.0,80.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,False,772071,es,Cuando Sea Joven,70-year-old Malena gets a second chance at lif...,55.691,2022-09-14,Cuando Sea Joven,False,8.7,...,NaN,35.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,False,995133,en,"The Boy, the Mole, the Fox and the Horse","The unlikely friendship of a boy, a mole, a fo...",33.505,2022-12-25,"The Boy, the Mole, the Fox and the Horse",False,8.6,...,NaN,16.0,10751.0,12.0,14.0,NaN,NaN,NaN,NaN,NaN
4,False,240,en,The Godfather Part II,In the continuing saga of the Corleone crime f...,70.750,1974-12-20,The Godfather Part II,False,8.6,...,NaN,18.0,80.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [599]:
##changing N/A variables to 0
top_movies_200 = top_movies_200.fillna(0)

In [604]:
## converting  column type from float64 to int

top_movies_200[['genre_id_1','genre_id_2','genre_id_3','genre_id_4', 'genre_id_5','genre_id_6','genre_id_7', 'genre_id_8','genre_id_9']] = top_movies_200[['genre_id_1','genre_id_2','genre_id_3','genre_id_4', 'genre_id_5','genre_id_6','genre_id_7', 'genre_id_8','genre_id_9']].astype(int)

# Analyzing Movie Data

In [605]:
top_20_movies_2023 = top_movies_200.sort_values(by='popularity',ascending=False).head(30)
top_20_movies_2023

,adult,id,original_language,original_title,overview,popularity,release_date,title,video,vote_average,...,original_name,genre_id_1,genre_id_2,genre_id_3,genre_id_4,genre_id_5,genre_id_6,genre_id_7,genre_id_8,genre_id_9
14,False,315162,en,Puss in Boots: The Last Wish,Puss in Boots discovers that his passion for a...,2589.341,2022-12-07,Puss in Boots: The Last Wish,False,8.4,...,0,16,12,35,10751,0,0,0,0,0
6,False,635302,ja,劇場版「鬼滅の刃」無限列車編,"Tanjiro Kamado, joined with Inosuke Hashibira,...",438.335,2020-10-16,Demon Slayer -Kimetsu no Yaiba- The Movie: Mug...,False,8.3,...,0,16,28,12,14,53,0,0,0,0
13,False,361743,en,Top Gun: Maverick,After more than thirty years of service as one...,416.979,2022-05-24,Top Gun: Maverick,False,8.3,...,0,28,18,0,0,0,0,0,0,0
1,False,555604,en,Guillermo del Toro's Pinocchio,During the rise of fascism in Mussolini's Ital...,407.115,2022-11-09,Guillermo del Toro's Pinocchio,False,8.3,...,0,16,14,18,10402,0,0,0,0,0
18,False,299536,en,Avengers: Infinity War,As the Avengers and their allies have continue...,309.280,2018-04-25,Avengers: Infinity War,False,8.3,...,0,12,28,878,0,0,0,0,0,0
5,False,324786,en,Hacksaw Ridge,"WWII American Army Medic Desmond T. Doss, who ...",257.788,2016-10-07,Hacksaw Ridge,False,8.2,...,0,18,36,10752,0,0,0,0,0,0
14,False,299534,en,Avengers: Endgame,After the devastating events of Avengers: Infi...,185.565,2019-04-24,Avengers: Endgame,False,8.3,...,0,12,878,28,0,0,0,0,0,0
2,False,157336,en,Interstellar,The adventures of a group of explorers who mak...,177.774,2014-11-05,Interstellar,False,8.4,...,0,12,18,878,0,0,0,0,0,0
3,False,851644,ko,20세기 소녀,Yeon-du asks her best friend Bora to collect a...,167.998,2022-10-06,20th Century Girl,False,8.4,...,0,10749,18,0,0,0,0,0,0,0
6,False,532067,ja,映画 この素晴らしい世界に祝福を！紅伝説,It is not strange that the Demon Lord's forces...,161.304,2019-08-30,KonoSuba: God's Blessing on this Wonderful Wor...,False,8.2,...,0,16,12,35,14,0,0,0,0,0
3,False,50014,en,The Help,Aibileen Clark is a middle-aged African-Americ...,157.675,2011-08-09,The Help,False,8.2,...,0,18,0,0,0,0,0,0,0,0
1,False,8587,en,The Lion King,A young lion prince is cast out of his pride b...,132.741,1994-06-23,The Lion King,False,8.3,...,0,10751,16,18,0,0,0,0,0,0
16,False,354912,en,Coco,Despite his family’s baffling generations-old ...,132.092,2017-10-27,Coco,False,8.2,...,0,10751,16,14,10402,35,12,0,0,0
18,False,120,en,The Lord of the Rings: The Fellowship of the Ring,"Young hobbit Frodo Baggins, after inheriting a...",115.114,2001-12-18,The Lord of the Rings: The Fellowship of the Ring,False,8.4,...,0,12,14,28,0,0,0,0,0,0
14,False,755812,fr,"Miraculous World : New York, les héros unis",Teen Parisian superheroes Ladybug and Chat Noi...,113.231,2020-12-18,"Miraculous World: New York, United HeroeZ",False,8.2,...,0,16,10770,14,28,0,0,0,0,0
0,False,238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",107.857,1972-03-14,The Godfather,False,8.7,...,0,18,80,0,0,0,0,0,0,0
15,False,324857,en,Spider-Man: Into the Spider-Verse,Miles Morales is juggling his life between bei...,105.122,2018-12-14,Spider-Man: Into the Spider-Verse,False,8.4,...,0,28,12,16,878,0,0,0,0,0
9,False,372058,ja,君の名は。,High schoolers Mitsuha and Taki are complete s...,98.752,2016-08-26,Your Name.,False,8.5,...,0,10749,16,18,0,0,0,0,0,0
17,False,475557,en,Joker,"During the 1980s, a failed stand-up comedian i...",97.449,2019-10-01,Joker,False,8.2,...,0,80,53,18,0,0,0,0,0,0
16,False,122,en,The Lord of the Rings: The Return of the King,Aragorn is revealed as the heir to the ancient...,95.892,2003-12-01,The Lord of the Rings: The Return of the King,False,8.5,...,0,12,14,28,0,0,0,0,0,0
12,False,497,en,The Green Mile,A supernatural tale set on death row in a Sout...,94.792,1999-12-10,The Green Mile,False,8.5,...,0,14,18,80,0,0,0,0,0,0
7,False,447362,en,Life in a Year,A 17 year old finds out that his girlfriend is...,94.468,2020-11-27,Life in a Year,False,8.3,...,0,18,10749,0,0,0,0,0,0,0
16,False,4935,ja,ハウルの動く城,"When Sophie, a shy young woman, is cursed with...",93.620,2004-09-09,Howl's Moving Castle,False,8.4,...,0,14,16,12,0,0,0,0,0,0
7,False,121,en,The Lord of the Rings: The Two Towers,Frodo and Sam are trekking to Mordor to destro...,92.682,2002-12-18,The Lord of the Rings: The Two Towers,False,8.4,...,0,12,14,28,0,0,0,0,0,0
1,False,278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,91.167,1994-09-23,The Shawshank Redemption,False,8.7,...,0,18,80,0,0,0,0,0,0,0
11,False,27205,en,Inception,"Cobb, a skilled thief who commits corporate es...",89.891,2010-07-15,Inception,False,8.4,...,0,28,878,12,0,0,0,0,0,0
11,False,155,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,89.314,2008-07-14,The Dark Knight,False,8.5,...,0,18,28,80,53,0,0,0,0,0
7,False,508442,en,Soul,Joe Gardner is a middle school teacher with a ...,87.769,2020-12-25,Soul,False,8.2,...,0,16,10751,35,14,18,0,0,0,0
4,0,67075,ja,0,"Shigeo Kageyama, a.k.a. ""Mob,"" is a boy who ha...",82.845,0,0,0,8.6,...,モブサイコ100,16,10759,35,0,0,0,0,0,0
7,False,129,ja,千と千尋の神隠し,"A young girl, Chihiro, becomes trapped in a st...",81.829,2002-09-20,Spirited Away,False,8.5,...,0,16,10751,14,0,0,0,0,0,0

In [606]:
top_movies_200.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 19
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              200 non-null    object
 1   id                 200 non-null    int64
 2   original_language  200 non-null    object
 3   original_title     200 non-null    object
 4   overview           200 non-null    object
 5   popularity         200 non-null    float64
 6   release_date       200 non-null    object
 7   title              200 non-null    object
 8   video              200 non-null    object
 9   vote_average       200 non-null    float64
 10  vote_count         200 non-null    int64
 11  first_air_date     200 non-null    object
 12  name               200 non-null    object
 13  origin_country     200 non-null    object
 14  original_name      200 non-null    object
 15  genre_id_1         200 non-null    int64
 16  genre_id_2         200 non-null    int64
 17  genre_id_3         200 non-null    int64
 18  genre_id_4         200 non-null    int64
 19  genre_id_5         200 non-null    int64
 20  genre_id_6         200 non-null    int64
 21  genre_id_7         200 non-null    int64
 22  genre_id_8         200 non-null    int64
 23  genre_id_9         200 non-null    int64
dtypes: float64(2), int64(11), object(11)
memory usage: 39.1+ KB