# __Importing Pandas/Numpy/Zipfile and Opening CSV files__

In [1]:
# importing pandas, numpy and zipfile
import zipfile
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta
import json

In [3]:
ls

README.md                data.sqlite              student.ipynb
Untitled.ipynb           stephanie_ciaccia.ipynb  zippedData/

In [4]:
## opening read file
ratings = pd.read_csv('zippedData/tmdb.movies.csv.gz',compression='gzip')
budget = pd.read_csv('zippedData/tn.movie_budgets.csv.gz',compression='gzip')

# Data Source #1  TMDB movies

In [5]:
ratings.head(5)

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [6]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

In [7]:
ratings.describe()

        Unnamed: 0             id    popularity  vote_average    vote_count
count  26517.00000   26517.000000  26517.000000  26517.000000  26517.000000
mean   13258.00000  295050.153260      3.130912      5.991281    194.224837
std     7654.94288  153661.615648      4.355229      1.852946    960.961095
min        0.00000      27.000000      0.600000      0.000000      1.000000
25%     6629.00000  157851.000000      0.600000      5.000000      2.000000
50%    13258.00000  309581.000000      1.374000      6.000000      5.000000
75%    19887.00000  419542.000000      3.694000      7.000000     28.000000
max    26516.00000  608444.000000     80.773000     10.000000  22186.000000

In [8]:
ratings.head(1)

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788

In [9]:
ratings.columns

Index(['Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title',
       'popularity', 'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')

In [10]:
ratings.shape

(26517, 10)

In [11]:
# checking for null values
ratings.isna().sum()

Unnamed: 0           0
genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

In [12]:
ratings.dtypes

Unnamed: 0             int64
genre_ids             object
id                     int64
original_language     object
original_title        object
popularity           float64
release_date          object
title                 object
vote_average         float64
vote_count             int64
dtype: object

# _Cleaning Dataframe - TMDB_

In [13]:
##removing 'Unnamed: Column 0' as it is a repeat of the values in the index

ratings = ratings.drop(["Unnamed: 0"], axis = 1)

In [14]:
ratings = ratings.drop(columns='original_language')

In [15]:
ratings.dtypes

genre_ids          object
id                  int64
original_title     object
popularity        float64
release_date       object
title              object
vote_average      float64
vote_count          int64
dtype: object

In [16]:
ratings.head(5)

,genre_ids,id,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,Inception,27.920,2010-07-16,Inception,8.3,22186

In [17]:
##information about first and last movie entry in data

first_movie = min(ratings['release_date'])
last_movie = max(ratings['release_date'])

print(first_movie)
print(last_movie)

1930-04-29
2020-12-25

In [18]:
##genre_id key

Action          28
Adventure       12
Animation       16
Comedy          35
Crime           80
Documentary     99
Drama           18
Family          10751
Fantasy         14
History         36
Horror          27
Music           10402
Mystery         9648
Romance         10749
Science Fiction 878
TV Movie        10770
Thriller        53
War             10752
Western         37

SyntaxError: invalid syntax (<ipython-input-18-d88fbf866cff>, line 3)

In [19]:
## converting 'release_date' column type from integer to datetime

ratings['release_date'] = pd.to_datetime(ratings['release_date'])

In [20]:
ratings['release_date']

0       2010-11-19
1       2010-03-26
2       2010-05-07
3       1995-11-22
4       2010-07-16
           ...
26512   2018-10-13
26513   2018-05-01
26514   2018-10-01
26515   2018-06-22
26516   2018-10-05
Name: release_date, Length: 26517, dtype: datetime64[ns]

## _Analyzing - TMDB_

In [22]:
top_20_movies = ratings.sort_values(by='popularity',ascending=False).head(20)
top_20_movies

,genre_ids,id,original_title,popularity,release_date,title,vote_average,vote_count
23811,"[12, 28, 14]",299536,Avengers: Infinity War,80.773,2018-04-27,Avengers: Infinity War,8.3,13948
11019,"[28, 53]",245891,John Wick,78.123,2014-10-24,John Wick,7.2,10081
23812,"[28, 12, 16, 878, 35]",324857,Spider-Man: Into the Spider-Verse,60.534,2018-12-14,Spider-Man: Into the Spider-Verse,8.4,4048
11020,"[28, 12, 14]",122917,The Hobbit: The Battle of the Five Armies,53.783,2014-12-17,The Hobbit: The Battle of the Five Armies,7.3,8392
5179,"[878, 28, 12]",24428,The Avengers,50.289,2012-05-04,The Avengers,7.6,19673
11021,"[28, 878, 12]",118340,Guardians of the Galaxy,49.606,2014-08-01,Guardians of the Galaxy,7.9,17958
20617,"[878, 28, 53]",335984,Blade Runner 2049,48.571,2017-10-06,Blade Runner 2049,7.4,6679
23813,"[878, 28, 53]",335984,Blade Runner 2049,48.571,2017-10-06,Blade Runner 2049,7.4,6679
23814,[12],338952,Fantastic Beasts: The Crimes of Grindelwald,48.508,2018-11-16,Fantastic Beasts: The Crimes of Grindelwald,6.9,4870
23815,"[10751, 16, 35, 14, 12]",404368,Ralph Breaks the Internet,48.057,2018-11-21,Ralph Breaks the Internet,7.2,2626
20618,"[28, 12, 878, 18]",315635,Spider-Man: Homecoming,46.775,2017-07-07,Spider-Man: Homecoming,7.4,11585
20619,"[53, 28, 80]",324552,John Wick: Chapter 2,45.253,2017-02-10,John Wick: Chapter 2,7.0,5863
20620,"[28, 18, 878]",263115,Logan,45.000,2017-03-03,Logan,7.8,12330
23816,"[28, 12, 878, 35]",363088,Ant-Man and the Wasp,44.729,2018-07-06,Ant-Man and the Wasp,7.0,6290
14169,"[28, 12, 878]",99861,Avengers: Age of Ultron,44.383,2015-05-01,Avengers: Age of Ultron,7.3,13457
23817,"[28, 12, 14, 878]",284054,Black Panther,44.140,2018-02-16,Black Panther,7.4,12365
23818,"[878, 28]",335983,Venom,44.007,2018-10-05,Venom,6.6,6206
20621,"[28, 12, 35, 14]",284053,Thor: Ragnarok,43.450,2017-11-03,Thor: Ragnarok,7.5,11380
23819,"[28, 12, 35, 14]",284053,Thor: Ragnarok,43.450,2017-11-03,Thor: Ragnarok,7.5,11380
23820,"[28, 12, 878]",424783,Bumblebee,43.078,2018-12-21,Bumblebee,6.5,2425

# Data Source #2 - TN movies budget

# _Cleaning TV movies budget_

In [23]:
budget

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [24]:
budget.head(5)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [25]:
budget.dtypes

id                    int64
release_date         object
movie                object
production_budget    object
domestic_gross       object
worldwide_gross      object
dtype: object

In [26]:
### changing type of release Date to datetime

budget['release_date'] = pd.to_datetime(budget['release_date'])

In [27]:
### removing $ and , from Production Budget and and changing type to integer

budget['production_budget'] = budget['production_budget'].str.replace('$', '')
budget['production_budget'] = budget['production_budget'].str.replace(',', '')
budget['production_budget'] = budget['production_budget'].astype(int)

In [28]:
### removing $ and , from Domestic Gross and and changing type to integer

budget['domestic_gross'] = budget['domestic_gross'].str.replace('$', '')
budget['domestic_gross'] = budget['domestic_gross'].str.replace(',', '')
budget['domestic_gross'] = budget['domestic_gross'].astype(int)

In [29]:
### removing $ and , from Worldwide Gross and changing type to integer

budget['worldwide_gross'] = budget['worldwide_gross'].str.replace('$', '')
budget['worldwide_gross'] = budget['worldwide_gross'].str.replace(',', '')
budget['worldwide_gross'] = budget['worldwide_gross'].astype(int)

In [30]:
#sanity check w/ data types
budget.dtypes

id                            int64
release_date         datetime64[ns]
movie                        object
production_budget             int64
domestic_gross                int64
worldwide_gross               int64
dtype: object

In [31]:
#checking for null values
budget.isna().sum()

id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

In [32]:
budget = budget.rename(columns = {"movie":"title"})

In [33]:
budget.describe()

                id  production_budget  domestic_gross  worldwide_gross
count  5782.000000       5.782000e+03    5.782000e+03     5.782000e+03
mean     50.372363       3.158776e+07    4.187333e+07     9.148746e+07
std      28.821076       4.181208e+07    6.824060e+07     1.747200e+08
min       1.000000       1.100000e+03    0.000000e+00     0.000000e+00
25%      25.000000       5.000000e+06    1.429534e+06     4.125415e+06
50%      50.000000       1.700000e+07    1.722594e+07     2.798445e+07
75%      75.000000       4.000000e+07    5.234866e+07     9.764584e+07
max     100.000000       4.250000e+08    9.366622e+08     2.776345e+09

In [34]:
budget.head(5)

,id,release_date,title,production_budget,domestic_gross,worldwide_gross
0,1,2009-12-18,Avatar,425000000,760507625,2776345279
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
2,3,2019-06-07,Dark Phoenix,350000000,42762350,149762350
3,4,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747

# _Analyzing TV movies Budget_

In [35]:
oldest_movie = min(budget['release_date'])
newest_movie = max(budget['release_date'])

print(oldest_movie)
print(newest_movie)

1915-02-08 00:00:00
2020-12-31 00:00:00

In [36]:
movie_range = relativedelta(newest_movie, oldest_movie).years
movie_range

105

In [37]:
top_20_movies = budget.sort_values(by='worldwide_gross',ascending=False).head(20)
top_20_movies

,id,release_date,title,production_budget,domestic_gross,worldwide_gross
0,1,2009-12-18,Avatar,425000000,760507625,2776345279
42,43,1997-12-19,Titanic,200000000,659363944,2208208395
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2053311220
6,7,2018-04-27,Avengers: Infinity War,300000000,678815482,2048134200
33,34,2015-06-12,Jurassic World,215000000,652270625,1648854864
66,67,2015-04-03,Furious 7,190000000,353007020,1518722794
26,27,2012-05-04,The Avengers,225000000,623279547,1517935897
3,4,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963
41,42,2018-02-16,Black Panther,200000000,700059566,1348258224
260,61,2011-07-15,Harry Potter and the Deathly Hallows: Part II,125000000,381193157,1341693157
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747
112,13,2018-06-22,Jurassic World: Fallen Kingdom,170000000,417719760,1305772799
155,56,2013-11-22,Frozen,150000000,400738009,1272469910
134,35,2017-03-17,Beauty and the Beast,160000000,504014165,1259199706
43,44,2018-06-15,Incredibles 2,200000000,608581744,1242520711
22,23,2017-04-14,The Fate of the Furious,250000000,225764765,1234846267
47,48,2013-05-03,Iron Man 3,200000000,408992272,1215392272
672,73,2015-07-10,Minions,74000000,336045770,1160336173
135,36,2018-12-21,Aquaman,160000000,335061807,1146894640
425,26,2003-12-17,The Lord of the Rings: The Return of the King,94000000,377845905,1141403341

In [38]:
top_20_movies = budget.sort_values(by="worldwide_gross",ascending=False).head(25)
top_20_movies

,id,release_date,title,production_budget,domestic_gross,worldwide_gross
0,1,2009-12-18,Avatar,425000000,760507625,2776345279
42,43,1997-12-19,Titanic,200000000,659363944,2208208395
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2053311220
6,7,2018-04-27,Avengers: Infinity War,300000000,678815482,2048134200
33,34,2015-06-12,Jurassic World,215000000,652270625,1648854864
66,67,2015-04-03,Furious 7,190000000,353007020,1518722794
26,27,2012-05-04,The Avengers,225000000,623279547,1517935897
3,4,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963
41,42,2018-02-16,Black Panther,200000000,700059566,1348258224
260,61,2011-07-15,Harry Potter and the Deathly Hallows: Part II,125000000,381193157,1341693157
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747
112,13,2018-06-22,Jurassic World: Fallen Kingdom,170000000,417719760,1305772799
155,56,2013-11-22,Frozen,150000000,400738009,1272469910
134,35,2017-03-17,Beauty and the Beast,160000000,504014165,1259199706
43,44,2018-06-15,Incredibles 2,200000000,608581744,1242520711
22,23,2017-04-14,The Fate of the Furious,250000000,225764765,1234846267
47,48,2013-05-03,Iron Man 3,200000000,408992272,1215392272
672,73,2015-07-10,Minions,74000000,336045770,1160336173
135,36,2018-12-21,Aquaman,160000000,335061807,1146894640
425,26,2003-12-17,The Lord of the Rings: The Return of the King,94000000,377845905,1141403341
16,17,2016-05-06,Captain America: Civil War,250000000,408084349,1140069413
63,64,2011-06-29,Transformers: Dark of the Moon,195000000,352390543,1123790543
95,96,2019-03-08,Captain Marvel,175000000,426525952,1123061550
51,52,2012-11-08,Skyfall,200000000,304360277,1110526981
36,37,2014-06-27,Transformers: Age of Extinction,210000000,245439076,1104039076

# Dataset #3 from TMBD API - THE MOVIE DB TOP RATED TV

In [39]:
import requests

In [40]:
tv_api = requests.get('https://api.themoviedb.org/3/tv/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=1'
)
print(tv_api.status_code)

200

In [41]:
tv_api.json().keys()

top_rated = tv_api.json()['results']

top_rated = pd.DataFrame(top_rated)
len(top_rated)

20

In [42]:
tv_api.json().keys()

dict_keys(['page', 'results', 'total_pages', 'total_results'])

In [43]:
## PAGE 2
#requesting API
tv_api_2 = requests.get('https://api.themoviedb.org/3/tv/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=2'
)

#pulling requests
top_rated_2 = tv_api_2.json()['results']


#making Dataframe
top_rated_2 = pd.DataFrame(top_rated_2)

###Page 3

#requesting API
tv_api_3 = requests.get('https://api.themoviedb.org/3/tv/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=3'
)

#pulling requests
top_rated_3 = tv_api_3.json()['results']


#making Dataframe
top_rated_3= pd.DataFrame(top_rated_3)

###Page 4

#requesting API
tv_api_4 = requests.get('https://api.themoviedb.org/3/tv/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=4'
)

#pulling requests
top_rated_4 = tv_api_4.json()['results']


#making Dataframe
top_rated_4 = pd.DataFrame(top_rated_4)

###Page 5

#requesting API
tv_api_5 = requests.get('https://api.themoviedb.org/3/tv/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=5'
)

#pulling requests
top_rated_5 = tv_api_5.json()['results']


#making Dataframe
top_rated_5 = pd.DataFrame(top_rated_5)

In [44]:
###Page 6

#requesting API
tv_api_6 = requests.get('https://api.themoviedb.org/3/tv/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=6'
)

#pulling requests
top_rated_6 = tv_api_6.json()['results']


#making Dataframe
top_rated_6 = pd.DataFrame(top_rated_6)

###Page 7

#requesting API
tv_api_7 = requests.get('https://api.themoviedb.org/3/tv/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=7'
)

#pulling requests
top_rated_7 = tv_api_7.json()['results']


#making Dataframe
top_rated_7 = pd.DataFrame(top_rated_7)

###Page 8

#requesting API
tv_api_8 = requests.get('https://api.themoviedb.org/3/tv/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=8'
)

#pulling requests
top_rated_8 = tv_api_8.json()['results']


#making Dataframe
top_rated_8 = pd.DataFrame(top_rated_8)

###Page 9

#requesting API
tv_api_9 = requests.get('https://api.themoviedb.org/3/tv/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=9'
)

#pulling requests
top_rated_9 = tv_api_9.json()['results']


#making Dataframe
top_rated_9 = pd.DataFrame(top_rated_9)

###Page 10

#requesting API
tv_api_10 = requests.get('https://api.themoviedb.org/3/tv/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=10'
)

#pulling requests
top_rated_10 = tv_api_10.json()['results']


#making Dataframe
top_rated_10 = pd.DataFrame(top_rated_10)

In [45]:
top_rated_200 = pd.concat([top_rated, top_rated_2, top_rated_3, top_rated_4, top_rated_5, top_rated_6, top_rated_7, top_rated_8, top_rated_9, top_rated_10])

# _THE MOVIE DB TOP RATED TV - CLEANING_

In [46]:
top_rated_200.dtypes

backdrop_path         object
first_air_date        object
genre_ids             object
id                     int64
name                  object
origin_country        object
original_language     object
original_name         object
overview              object
popularity           float64
poster_path           object
vote_average         float64
vote_count             int64
dtype: object

In [47]:
#splitting the genres into multiple columns

# split the list into columns
split_rated = top_rated_200['genre_ids'].apply(pd.Series)

#renaming the columns
split_rated = split_rated.rename(columns=lambda x: f'col_{x+1}')

# add the new columns back to top_rated DataFrame
top_rated_200 = pd.concat([top_rated_200, split_rated], axis=1)

In [48]:
top_rated_200.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 19
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   backdrop_path      199 non-null    object
 1   first_air_date     200 non-null    object
 2   genre_ids          200 non-null    object
 3   id                 200 non-null    int64
 4   name               200 non-null    object
 5   origin_country     200 non-null    object
 6   original_language  200 non-null    object
 7   original_name      200 non-null    object
 8   overview           200 non-null    object
 9   popularity         200 non-null    float64
 10  poster_path        200 non-null    object
 11  vote_average       200 non-null    float64
 12  vote_count         200 non-null    int64
 13  col_1              200 non-null    float64
 14  col_2              174 non-null    float64
 15  col_3              128 non-null    float64
 16  col_4              39 non-null     float64
 17  col_5              10 non-null     float64
 18  col_6              1 non-null      float64
dtypes: float64(8), int64(2), object(9)
memory usage: 31.2+ KB

In [49]:
#dropping columns that aren't needed

top_rated_200 = top_rated_200.drop(['genre_ids', 'origin_country', 'original_language',
                                    'overview','backdrop_path', 'poster_path', 'col_6'], axis=1)

In [50]:
#renaming the genre columns
top_rated_200.rename(columns = {'col_1':'genre_id_1','col_2':'genre_id_2','col_3':'genre_id_3',
                            'col_4':'genre_id_4','col_5':'genre_id_5'}, inplace = True)

In [51]:
##changing N/A variables to 0
top_rated_200 = top_rated_200.fillna(0)

In [52]:
## converting  column type from float64 to int

top_rated_200[['genre_id_1','genre_id_2','genre_id_3','genre_id_4','genre_id_5']] = top_rated_200[['genre_id_1','genre_id_2','genre_id_3','genre_id_4','genre_id_5']].astype(int)

In [53]:
top_rated_200.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 19
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   first_air_date  200 non-null    object
 1   id              200 non-null    int64
 2   name            200 non-null    object
 3   original_name   200 non-null    object
 4   popularity      200 non-null    float64
 5   vote_average    200 non-null    float64
 6   vote_count      200 non-null    int64
 7   genre_id_1      200 non-null    int64
 8   genre_id_2      200 non-null    int64
 9   genre_id_3      200 non-null    int64
 10  genre_id_4      200 non-null    int64
 11  genre_id_5      200 non-null    int64
dtypes: float64(2), int64(7), object(3)
memory usage: 20.3+ KB

# _THE MOVIE DB TOP RATED TV - ANALYSIS_

In [54]:
##genres

TV SHOW
Action & Adventure    10759
Animation             16
Comedy                35
Crime                 80
Documentary           99
Drama                 18
Family                10751
Kids                  10762
Mystery               9648
News                  10763
Reality               10764
Sci-Fi & Fantasy      10765
Soap                  10766
Talk                  10767
War & Politics        10768
Western               37

SyntaxError: invalid syntax (<ipython-input-54-e4b66b4102a0>, line 3)

In [55]:
top_20_series = top_rated_200.sort_values(by='vote_average',ascending=False).head(20)
top_20_series

,first_air_date,id,name,original_name,popularity,vote_average,vote_count,genre_id_1,genre_id_2,genre_id_3,genre_id_4,genre_id_5
0,2021-09-03,130392,The D'Amelio Show,The D'Amelio Show,11.368,8.9,3183,10764,0,0,0,0
1,2008-01-20,1396,Breaking Bad,Breaking Bad,374.007,8.9,11236,18,0,0,0,0
2,2023-01-15,100088,The Last of Us,The Last of Us,6243.954,8.8,2334,18,0,0,0,0
12,2021-07-01,125910,Young Royals,Young Royals,38.453,8.7,852,18,0,0,0,0
4,2022-06-18,135157,Alchemy of Souls,환혼,432.508,8.7,309,18,10759,9648,10765,0
5,2012-01-06,45950,High School DxD,ハイスクールD×D,133.198,8.7,1600,16,10759,35,10765,0
6,2023-01-20,217460,Shanty Town,Shanty Town,14.459,8.7,103,80,18,0,0,0
7,2022-04-09,120089,SPY x FAMILY,SPY×FAMILY,282.816,8.7,1233,16,35,10759,0,0
8,2014-04-06,60863,Haikyu!!,ハイキュー!!,68.223,8.7,1089,16,35,18,0,0
9,2011-10-02,46298,Hunter x Hunter,ハンターｘハンター,164.113,8.7,1335,10759,16,18,0,0
10,2022-11-03,213762,Be Eternal: Champions of America,Sean eternos: Campeones de América,18.466,8.7,107,99,0,0,0,0
11,2000-10-03,42705,Fighting Spirit,はじめの一歩,190.523,8.7,834,16,35,18,10759,0
13,2022-01-09,123249,My Dress-Up Darling,その着せ替え人形は恋をする,79.893,8.7,387,16,35,18,0,0
2,2009-11-28,31356,Big Time Rush,Big Time Rush,56.595,8.7,1509,10751,35,0,0,0
15,2012-10-06,45790,JoJo's Bizarre Adventure,ジョジョの奇妙な冒険,268.563,8.7,1163,16,10759,10765,0,0
16,2018-10-04,82739,Rascal Does Not Dream of Bunny Girl Senpai,青春ブタ野郎はバニーガール先輩の夢を見ない,53.316,8.7,1025,16,35,9648,0,0
17,2016-01-14,65844,KonoSuba – God's blessing on this wonderful wo...,この素晴らしい世界に祝福を！,178.910,8.7,1103,10759,16,35,10765,0
18,2012-10-07,60654,Magi,マギ,33.379,8.7,145,16,10759,10765,0,0
19,1995-10-04,890,Neon Genesis Evangelion,新世紀エヴァンゲリオン,61.690,8.7,1295,10765,16,18,0,0
0,2022-09-13,105248,Cyberpunk: Edgerunners,サイバーパンク：エッジランナーズ,77.402,8.7,783,10759,16,10765,0,0

In [56]:
oldest_episode = min(top_rated_200['first_air_date'])
newest_episode = max(top_rated_200['first_air_date'])

print(oldest_episode)
print(newest_episode)

1985-03-04
2023-01-20

# Dataset #4 from TMDB API - UPDATED Movie Ratings

#Pulling a new set of data from TMBD so we have updated movie list that is current. The set that we were given stops in 2020.

In [57]:
##Page 1
#requesting API

movie_api = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=1'
)

#pulling results key

top_movies = movie_api.json()['results']

##creating Dataframe

top_movies = pd.DataFrame(top_movies)


print(movie_api.status_code)

200

In [58]:
movie_api.json().keys()

dict_keys(['page', 'results', 'total_pages', 'total_results'])

In [59]:
## PAGE 2
#requesting API
movie_api_2 = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=2'
)

#pulling requests
top_movies_2 = movie_api_2.json()['results']


#making Dataframe
top_movies_2 = pd.DataFrame(top_movies_2)

## PAGE 3
#requesting API
movie_api_3 = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=3'
)

#pulling requests
top_movies_3 = movie_api_3.json()['results']


#making Dataframe
top_movies_3  = pd.DataFrame(top_movies_3)

## PAGE 4
#requesting API
movie_api_4 = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=4'
)

#pulling requests
top_movies_4 = movie_api_4.json()['results']


#making Dataframe
top_movies_4 = pd.DataFrame(top_movies_4)

## PAGE 5
#requesting API
movie_api_5 = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=5'
)

#pulling requests
top_movies_5 = movie_api_5.json()['results']


#making Dataframe
top_movies_5 = pd.DataFrame(top_movies_5)

## PAGE 6
#requesting API
movie_api_6 = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=6'
)

#pulling requests
top_movies_6 = movie_api_6.json()['results']


#making Dataframe
top_movies_6 = pd.DataFrame(top_movies_6)

## PAGE 7
#requesting API
movie_api_7 = requests.get('https://api.themoviedb.org/3/tv/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=7'
)

#pulling requests
top_movies_7 = movie_api_7.json()['results']


#making Dataframe
top_movies_7 = pd.DataFrame(top_movies_7)

## PAGE 8
#requesting API
movie_api_8 = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=8'
)

#pulling requests
top_movies_8 = movie_api_8.json()['results']


#making Dataframe
top_movies_8 = pd.DataFrame(top_movies_8)

## PAGE 9
#requesting API
movie_api_9 = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=9'
)

#pulling requests
top_movies_9 = movie_api_9.json()['results']


#making Dataframe
top_movies_9 = pd.DataFrame(top_movies_9)

## PAGE 10
#requesting API
movie_api_10 = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=10'
)

#pulling requests
top_movies_10 = movie_api_10.json()['results']


#making Dataframe
top_movies_10 = pd.DataFrame(top_movies_10)

In [60]:
## PAGE 11
#requesting API
movie_api_11 = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=11'
)

#pulling requests
top_movies_11 = movie_api_11.json()['results']


#making Dataframe
top_movies_11 = pd.DataFrame(top_movies_11)

## PAGE 12
#requesting API
movie_api_12 = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=12'
)

#pulling requests
top_movies_12 = movie_api_12.json()['results']


#making Dataframe
top_movies_12  = pd.DataFrame(top_movies_12)

## PAGE 13
#requesting API
movie_api_13 = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=13'
)

#pulling requests
top_movies_13 = movie_api_13.json()['results']


#making Dataframe
top_movies_13 = pd.DataFrame(top_movies_13)

## PAGE 14
#requesting API
movie_api_14 = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=14'
)

#pulling requests
top_movies_14 = movie_api_14.json()['results']


#making Dataframe
top_movies_14 = pd.DataFrame(top_movies_14)

## PAGE 15
#requesting API
movie_api_15 = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=15'
)

#pulling requests
top_movies_15 = movie_api_15.json()['results']


#making Dataframe
top_movies_15 = pd.DataFrame(top_movies_15)

## PAGE 16
#requesting API
movie_api_16 = requests.get('https://api.themoviedb.org/3/tv/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=16'
)

#pulling requests
top_movies_16 = movie_api_16.json()['results']


#making Dataframe
top_movies_16 = pd.DataFrame(top_movies_16)

## PAGE 17
#requesting API
movie_api_17 = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=17'
)

#pulling requests
top_movies_17 = movie_api_17.json()['results']


#making Dataframe
top_movies_17 = pd.DataFrame(top_movies_17)

## PAGE 18
#requesting API
movie_api_18 = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=18'
)

#pulling requests
top_movies_18 = movie_api_18.json()['results']


#making Dataframe
top_movies_18 = pd.DataFrame(top_movies_18)

## PAGE 19
#requesting API
movie_api_19 = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a88e9a2c082e4caa0a1447a81f7e743b&language=en-US&page=19'
)

#pulling requests
top_movies_19 = movie_api_19.json()['results']


#making Dataframe
top_movies_19 = pd.DataFrame(top_movies_19)

In [61]:
top_movies_200 = pd.concat([top_movies, top_movies_2, top_movies_3, top_movies_4, top_movies_5,
                            top_movies_6, top_movies_7, top_movies_8, top_movies_9, top_movies_10,
                            top_movies_11, top_movies_12, top_movies_13, top_movies_14, top_movies_15,
                            top_movies_16, top_movies_17, top_movies_18, top_movies_19])

In [62]:
top_movies_200.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 380 entries, 0 to 19
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              340 non-null    object
 1   backdrop_path      377 non-null    object
 2   genre_ids          380 non-null    object
 3   id                 380 non-null    int64
 4   original_language  380 non-null    object
 5   original_title     340 non-null    object
 6   overview           380 non-null    object
 7   popularity         380 non-null    float64
 8   poster_path        380 non-null    object
 9   release_date       340 non-null    object
 10  title              340 non-null    object
 11  video              340 non-null    object
 12  vote_average       380 non-null    float64
 13  vote_count         380 non-null    int64
 14  first_air_date     40 non-null     object
 15  name               40 non-null     object
 16  origin_country     40 non-null     object
 17  original_name      40 non-null     object
dtypes: float64(2), int64(2), object(14)
memory usage: 56.4+ KB

# _CLEANING_

In [63]:
#splitting the genres into multiple columns

# split the list into columns
split_movies = top_movies_200['genre_ids'].apply(pd.Series)

#renaming the columns
split_movies = split_movies.rename(columns=lambda x: f'col_{x+1}')

# add the new columns back to top_rated DataFrame
top_movies_200 = pd.concat([top_movies_200, split_movies], axis=1)

In [64]:
##dropping null values
top_movies_200.dropna(axis=0, how='any', subset=['title'], inplace=True)

In [65]:
#dropping columns that aren't needed

top_movies_200 = top_movies_200.drop(['adult', 'backdrop_path', 'genre_ids', 'poster_path', 'video', 'original_name',
                                      'origin_country', 'original_language', 'overview', 'col_5', 'col_6',
                                      'col_7', 'col_8', 'col_9','first_air_date', 'name'], axis=1)

In [66]:
#renaming the genre columns
top_movies_200.rename(columns = {'col_1':'genre_id_1','col_2':'genre_id_2','col_3':'genre_id_3',
                            'col_4':'genre_id_4'}, inplace = True)

In [67]:
top_movies_200.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 340 entries, 0 to 19
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              340 non-null    int64
 1   original_title  340 non-null    object
 2   popularity      340 non-null    float64
 3   release_date    340 non-null    object
 4   title           340 non-null    object
 5   vote_average    340 non-null    float64
 6   vote_count      340 non-null    int64
 7   genre_id_1      340 non-null    float64
 8   genre_id_2      278 non-null    float64
 9   genre_id_3      161 non-null    float64
 10  genre_id_4      55 non-null     float64
dtypes: float64(6), int64(2), object(3)
memory usage: 31.9+ KB

In [68]:
top_movies_200.head()

,id,original_title,popularity,release_date,title,vote_average,vote_count,genre_id_1,genre_id_2,genre_id_3,genre_id_4
0,238,The Godfather,101.679,1972-03-14,The Godfather,8.7,17564,18.0,80.0,NaN,NaN
1,278,The Shawshank Redemption,84.925,1994-09-23,The Shawshank Redemption,8.7,23400,18.0,80.0,NaN,NaN
2,772071,Cuando Sea Joven,47.213,2022-09-14,Cuando Sea Joven,8.7,209,35.0,14.0,NaN,NaN
3,995133,"The Boy, the Mole, the Fox and the Horse",28.940,2022-12-25,"The Boy, the Mole, the Fox and the Horse",8.6,249,16.0,10751.0,12.0,14.0
4,240,The Godfather Part II,59.963,1974-12-20,The Godfather Part II,8.6,10635,18.0,80.0,NaN,NaN

In [69]:
##changing N/A variables to 0
top_movies_200 = top_movies_200.fillna(0)

In [70]:
## converting  column type from float64 to int

top_movies_200[['genre_id_1','genre_id_2','genre_id_3','genre_id_4']] = top_movies_200[['genre_id_1','genre_id_2','genre_id_3','genre_id_4']].astype(int)

# Analyzing Movie Data

In [71]:
top_20_movies_2023 = top_movies_200.sort_values(by='vote_count',ascending=False).head(20)
top_20_movies_2023

,id,original_title,popularity,release_date,title,vote_average,vote_count,genre_id_1,genre_id_2,genre_id_3,genre_id_4
11,27205,Inception,94.787,2010-07-15,Inception,8.4,33285,28,878,12,0
2,157336,Interstellar,177.774,2014-11-05,Interstellar,8.4,30724,12,18,878,0
11,155,The Dark Knight,81.349,2008-07-14,The Dark Knight,8.5,29299,18,28,80,53
18,299536,Avengers: Infinity War,309.280,2018-04-25,Avengers: Infinity War,8.3,26445,12,28,878,0
8,550,Fight Club,77.840,1999-10-15,Fight Club,8.4,25961,18,53,35,0
13,680,Pulp Fiction,60.614,1994-09-10,Pulp Fiction,8.5,24778,53,80,0,0
15,13,Forrest Gump,69.614,1994-06-23,Forrest Gump,8.5,24274,35,18,10749,0
8,68718,Django Unchained,62.758,2012-12-25,Django Unchained,8.2,23762,18,37,0,0
1,278,The Shawshank Redemption,84.925,1994-09-23,The Shawshank Redemption,8.7,23400,18,80,0,0
14,299534,Avengers: Endgame,185.565,2019-04-24,Avengers: Endgame,8.3,22760,12,878,28,0
18,120,The Lord of the Rings: The Fellowship of the Ring,99.268,2001-12-18,The Lord of the Rings: The Fellowship of the Ring,8.4,22348,12,14,28,0
17,475557,Joker,97.449,2019-10-01,Joker,8.2,22319,80,53,18,0
1,11324,Shutter Island,51.261,2010-02-14,Shutter Island,8.2,21325,18,53,9648,0
16,122,The Lord of the Rings: The Return of the King,82.485,2003-12-01,The Lord of the Rings: The Return of the King,8.5,21239,12,14,28,0
14,106646,The Wolf of Wall Street,116.942,2013-12-25,The Wolf of Wall Street,8.0,21194,80,18,35,0
7,121,The Lord of the Rings: The Two Towers,85.203,2002-12-18,The Lord of the Rings: The Two Towers,8.4,19421,12,14,28,0
12,673,Harry Potter and the Prisoner of Azkaban,183.403,2004-05-31,Harry Potter and the Prisoner of Azkaban,8.0,19190,12,14,0,0
3,12445,Harry Potter and the Deathly Hallows: Part 2,175.290,2011-07-07,Harry Potter and the Deathly Hallows: Part 2,8.1,18459,14,12,0,0
10,807,Se7en,48.332,1995-09-22,Se7en,8.4,18455,80,9648,53,0
10,105,Back to the Future,55.928,1985-07-03,Back to the Future,8.3,17632,12,35,878,0

In [72]:
top_movies_200.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 340 entries, 0 to 19
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              340 non-null    int64
 1   original_title  340 non-null    object
 2   popularity      340 non-null    float64
 3   release_date    340 non-null    object
 4   title           340 non-null    object
 5   vote_average    340 non-null    float64
 6   vote_count      340 non-null    int64
 7   genre_id_1      340 non-null    int64
 8   genre_id_2      340 non-null    int64
 9   genre_id_3      340 non-null    int64
 10  genre_id_4      340 non-null    int64
dtypes: float64(2), int64(6), object(3)
memory usage: 31.9+ KB

In [73]:
#reindexing dataframe
top_movies_200 = top_movies_200.reset_index(drop=True)

In [74]:
top_movies_200.head(40)

,id,original_title,popularity,release_date,title,vote_average,vote_count,genre_id_1,genre_id_2,genre_id_3,genre_id_4
0,238,The Godfather,101.679,1972-03-14,The Godfather,8.7,17564,18,80,0,0
1,278,The Shawshank Redemption,84.925,1994-09-23,The Shawshank Redemption,8.7,23400,18,80,0,0
2,772071,Cuando Sea Joven,47.213,2022-09-14,Cuando Sea Joven,8.7,209,35,14,0,0
3,995133,"The Boy, the Mole, the Fox and the Horse",28.940,2022-12-25,"The Boy, the Mole, the Fox and the Horse",8.6,249,16,10751,12,14
4,240,The Godfather Part II,59.963,1974-12-20,The Godfather Part II,8.6,10635,18,80,0,0
5,424,Schindler's List,59.117,1993-12-15,Schindler's List,8.6,13835,18,36,10752,0
6,19404,दिलवाले दुल्हनिया ले जायेंगे,26.682,1995-10-19,Dilwale Dulhania Le Jayenge,8.6,4072,35,18,10749,0
7,129,千と千尋の神隠し,76.375,2002-09-20,Spirited Away,8.5,14022,16,10751,14,0
8,389,12 Angry Men,37.505,1957-04-10,12 Angry Men,8.5,7094,18,0,0,0
9,372058,君の名は。,86.470,2016-08-26,Your Name.,8.5,9577,10749,16,18,0
10,496243,기생충,64.752,2019-05-30,Parasite,8.5,15359,35,53,18,0
11,155,The Dark Knight,81.349,2008-07-14,The Dark Knight,8.5,29299,18,28,80,53
12,497,The Green Mile,73.170,1999-12-10,The Green Mile,8.5,15134,14,18,80,0
13,680,Pulp Fiction,60.614,1994-09-10,Pulp Fiction,8.5,24778,53,80,0,0
14,429,"Il buono, il brutto, il cattivo",51.611,1966-12-23,"The Good, the Bad and the Ugly",8.5,7258,37,0,0,0
15,13,Forrest Gump,69.614,1994-06-23,Forrest Gump,8.5,24274,35,18,10749,0
16,122,The Lord of the Rings: The Return of the King,82.485,2003-12-01,The Lord of the Rings: The Return of the King,8.5,21239,12,14,28,0
17,696374,Gabriel's Inferno,14.129,2020-05-29,Gabriel's Inferno,8.5,2327,10749,0,0,0
18,372754,同級生,10.203,2016-02-20,Dou kyu sei – Classmates,8.5,292,10749,16,0,0
19,769,GoodFellas,36.695,1990-09-12,GoodFellas,8.5,11050,18,80,0,0
20,11216,Nuovo Cinema Paradiso,24.592,1988-11-17,Cinema Paradiso,8.5,3671,18,10749,0,0
21,346,七人の侍,27.426,1954-04-26,Seven Samurai,8.5,2972,28,18,0,0
22,637,La vita è bella,44.035,1997-12-20,Life Is Beautiful,8.5,11751,35,18,0,0
23,704264,Primal: Tales of Savagery,18.405,2019-11-21,Primal: Tales of Savagery,8.5,258,28,12,16,18
24,724089,Gabriel's Inferno: Part II,26.006,2020-07-31,Gabriel's Inferno: Part II,8.4,1463,10749,0,0,0
25,311,Once Upon a Time in America,29.248,1984-05-23,Once Upon a Time in America,8.4,4591,18,80,0,0
26,12477,火垂るの墓,0.600,1988-04-16,Grave of the Fireflies,8.4,4532,16,18,10752,0
27,539,Psycho,41.366,1960-06-22,Psycho,8.4,8820,27,18,53,0
28,550,Fight Club,77.840,1999-10-15,Fight Club,8.4,25961,18,53,35,0
29,510,One Flew Over the Cuckoo's Nest,32.220,1975-11-19,One Flew Over the Cuckoo's Nest,8.4,9235,18,0,0,0
30,761053,Gabriel's Inferno: Part III,24.343,2020-11-19,Gabriel's Inferno: Part III,8.4,1011,10749,35,0,0
31,667257,Cosas imposibles,11.145,2021-06-17,Impossible Things,8.4,329,10751,18,0,0
32,620249,罗小黑战记,18.332,2019-08-27,The Legend of Hei,8.4,258,16,14,28,0
33,598,Cidade de Deus,39.554,2002-08-30,City of God,8.4,6328,18,80,0,0
34,315162,Puss in Boots: The Last Wish,2589.341,2022-12-07,Puss in Boots: The Last Wish,8.4,4309,16,12,35,10751
35,324857,Spider-Man: Into the Spider-Verse,105.122,2018-12-14,Spider-Man: Into the Spider-Verse,8.4,12445,28,12,16,878
36,4935,ハウルの動く城,80.144,2004-09-09,Howl's Moving Castle,8.4,8067,14,16,12,0
37,14537,切腹,24.629,1962-09-15,Harakiri,8.4,749,28,18,36,0
38,120,The Lord of the Rings: The Fellowship of the Ring,99.268,2001-12-18,The Lord of the Rings: The Fellowship of the Ring,8.4,22348,12,14,28,0
39,378064,映画 聲の形,60.763,2016-09-17,A Silent Voice: The Movie,8.4,3307,16,18,0,0

# JOINING MOVIES AND BUDGETS TABLES

In [75]:
budget_movie = pd.merge(top_movies_200, budget, on='title', how='left')
display(budget_movie)

,id_x,original_title,popularity,release_date_x,title,vote_average,vote_count,genre_id_1,genre_id_2,genre_id_3,genre_id_4,id_y,release_date_y,production_budget,domestic_gross,worldwide_gross
0,238,The Godfather,101.679,1972-03-14,The Godfather,8.7,17564,18,80,0,0,87.0,1972-03-15,7000000.0,134966411.0,268500000.0
1,278,The Shawshank Redemption,84.925,1994-09-23,The Shawshank Redemption,8.7,23400,18,80,0,0,37.0,1994-09-23,25000000.0,28241469.0,28307092.0
2,772071,Cuando Sea Joven,47.213,2022-09-14,Cuando Sea Joven,8.7,209,35,14,0,0,NaN,NaT,NaN,NaN,NaN
3,995133,"The Boy, the Mole, the Fox and the Horse",28.940,2022-12-25,"The Boy, the Mole, the Fox and the Horse",8.6,249,16,10751,12,14,NaN,NaT,NaN,NaN,NaN
4,240,The Godfather Part II,59.963,1974-12-20,The Godfather Part II,8.6,10635,18,80,0,0,NaN,NaT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,15383,L'Armée des ombres,17.461,1969-09-10,Army of Shadows,8.0,524,10752,18,53,0,NaN,NaT,NaN,NaN,NaN
336,10515,天空の城ラピュタ,43.910,1986-08-02,Castle in the Sky,8.0,3480,12,14,16,28,NaN,NaT,NaN,NaN,NaN
337,698948,Thirteen Lives,47.566,2022-07-18,Thirteen Lives,8.0,920,18,53,28,12,NaN,NaT,NaN,NaN,NaN
338,698508,Redeeming Love,49.975,2022-01-21,Redeeming Love,8.0,229,10749,18,36,0,NaN,NaT,NaN,NaN,NaN
339,28971,Limelight,10.025,1952-10-23,Limelight,8.0,434,18,10402,10749,0,NaN,NaT,NaN,NaN,NaN

In [76]:
display(budget_movie)

,id_x,original_title,popularity,release_date_x,title,vote_average,vote_count,genre_id_1,genre_id_2,genre_id_3,genre_id_4,id_y,release_date_y,production_budget,domestic_gross,worldwide_gross
0,238,The Godfather,101.679,1972-03-14,The Godfather,8.7,17564,18,80,0,0,87.0,1972-03-15,7000000.0,134966411.0,268500000.0
1,278,The Shawshank Redemption,84.925,1994-09-23,The Shawshank Redemption,8.7,23400,18,80,0,0,37.0,1994-09-23,25000000.0,28241469.0,28307092.0
2,772071,Cuando Sea Joven,47.213,2022-09-14,Cuando Sea Joven,8.7,209,35,14,0,0,NaN,NaT,NaN,NaN,NaN
3,995133,"The Boy, the Mole, the Fox and the Horse",28.940,2022-12-25,"The Boy, the Mole, the Fox and the Horse",8.6,249,16,10751,12,14,NaN,NaT,NaN,NaN,NaN
4,240,The Godfather Part II,59.963,1974-12-20,The Godfather Part II,8.6,10635,18,80,0,0,NaN,NaT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,15383,L'Armée des ombres,17.461,1969-09-10,Army of Shadows,8.0,524,10752,18,53,0,NaN,NaT,NaN,NaN,NaN
336,10515,天空の城ラピュタ,43.910,1986-08-02,Castle in the Sky,8.0,3480,12,14,16,28,NaN,NaT,NaN,NaN,NaN
337,698948,Thirteen Lives,47.566,2022-07-18,Thirteen Lives,8.0,920,18,53,28,12,NaN,NaT,NaN,NaN,NaN
338,698508,Redeeming Love,49.975,2022-01-21,Redeeming Love,8.0,229,10749,18,36,0,NaN,NaT,NaN,NaN,NaN
339,28971,Limelight,10.025,1952-10-23,Limelight,8.0,434,18,10402,10749,0,NaN,NaT,NaN,NaN,NaN

In [77]:
budget_movie = budget_movie.drop(['id_y', 'release_date_y'], axis=1)

In [78]:
budget_movie = budget_movie.drop(['id_x'], axis=1)

In [79]:
budget_movie.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 340 entries, 0 to 339
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   original_title     340 non-null    object
 1   popularity         340 non-null    float64
 2   release_date_x     340 non-null    object
 3   title              340 non-null    object
 4   vote_average       340 non-null    float64
 5   vote_count         340 non-null    int64
 6   genre_id_1         340 non-null    int64
 7   genre_id_2         340 non-null    int64
 8   genre_id_3         340 non-null    int64
 9   genre_id_4         340 non-null    int64
 10  production_budget  92 non-null     float64
 11  domestic_gross     92 non-null     float64
 12  worldwide_gross    92 non-null     float64
dtypes: float64(5), int64(5), object(3)
memory usage: 37.2+ KB

In [80]:
all_time_top = budget_movie.sort_values(by='popularity',ascending=False).head(20)
all_time_top

,original_title,popularity,release_date_x,title,vote_average,vote_count,genre_id_1,genre_id_2,genre_id_3,genre_id_4,production_budget,domestic_gross,worldwide_gross
34,Puss in Boots: The Last Wish,2589.341,2022-12-07,Puss in Boots: The Last Wish,8.4,4309,16,12,35,10751,NaN,NaN,NaN
81,Guillermo del Toro's Pinocchio,407.115,2022-11-09,Guillermo del Toro's Pinocchio,8.3,1976,16,14,18,10402,NaN,NaN,NaN
86,劇場版「鬼滅の刃」無限列車編,384.471,2020-10-16,Demon Slayer -Kimetsu no Yaiba- The Movie: Mug...,8.3,2970,16,28,12,14,NaN,NaN,NaN
73,Top Gun: Maverick,372.213,2022-05-24,Top Gun: Maverick,8.3,6244,28,18,0,0,NaN,NaN,NaN
322,Huevitos Congelados,368.120,2022-12-14,A Frozen Rooster,8.0,241,16,12,35,10751,NaN,NaN,NaN
98,Avengers: Infinity War,309.280,2018-04-25,Avengers: Infinity War,8.3,26445,12,28,878,0,300000000.0,678815482.0,2.048134e+09
298,Everything Everywhere All at Once,274.933,2022-03-24,Everything Everywhere All at Once,8.0,3408,28,12,878,0,NaN,NaN,NaN
125,Hacksaw Ridge,257.788,2016-10-07,Hacksaw Ridge,8.2,11993,18,36,10752,0,40000000.0,67209615.0,1.689047e+08
330,Sing 2,213.654,2021-12-01,Sing 2,8.0,3541,16,12,35,10751,NaN,NaN,NaN
233,Emancipation,204.921,2022-12-02,Emancipation,8.1,791,28,18,53,0,NaN,NaN,NaN
94,Avengers: Endgame,185.565,2019-04-24,Avengers: Endgame,8.3,22760,12,878,28,0,NaN,NaN,NaN
272,Harry Potter and the Prisoner of Azkaban,183.403,2004-05-31,Harry Potter and the Prisoner of Azkaban,8.0,19190,12,14,0,0,130000000.0,249757726.0,7.969073e+08
42,Interstellar,177.774,2014-11-05,Interstellar,8.4,30724,12,18,878,0,165000000.0,188017894.0,6.663794e+08
183,Harry Potter and the Deathly Hallows: Part 2,175.290,2011-07-07,Harry Potter and the Deathly Hallows: Part 2,8.1,18459,14,12,0,0,NaN,NaN,NaN
146,映画 この素晴らしい世界に祝福を！紅伝説,161.304,2019-08-30,KonoSuba: God's Blessing on this Wonderful Wor...,8.2,442,16,12,35,14,NaN,NaN,NaN
123,The Help,157.675,2011-08-09,The Help,8.2,7009,18,0,0,0,25000000.0,169705587.0,2.131200e+08
43,20세기 소녀,156.825,2022-10-06,20th Century Girl,8.4,407,10749,18,0,0,NaN,NaN,NaN
334,Catch Me If You Can,149.470,2002-12-16,Catch Me If You Can,8.0,13593,18,80,0,0,NaN,NaN,NaN
206,Cruella,143.400,2021-05-26,Cruella,8.1,7994,35,80,0,0,NaN,NaN,NaN
116,Coco,132.922,2017-10-27,Coco,8.2,16944,10751,16,14,10402,175000000.0,209726015.0,7.980081e+08

In [81]:
##changing N/A variables to 0
budget_movie = budget_movie.fillna(0)
budget_movie

,original_title,popularity,release_date_x,title,vote_average,vote_count,genre_id_1,genre_id_2,genre_id_3,genre_id_4,production_budget,domestic_gross,worldwide_gross
0,The Godfather,101.679,1972-03-14,The Godfather,8.7,17564,18,80,0,0,7000000.0,134966411.0,268500000.0
1,The Shawshank Redemption,84.925,1994-09-23,The Shawshank Redemption,8.7,23400,18,80,0,0,25000000.0,28241469.0,28307092.0
2,Cuando Sea Joven,47.213,2022-09-14,Cuando Sea Joven,8.7,209,35,14,0,0,0.0,0.0,0.0
3,"The Boy, the Mole, the Fox and the Horse",28.940,2022-12-25,"The Boy, the Mole, the Fox and the Horse",8.6,249,16,10751,12,14,0.0,0.0,0.0
4,The Godfather Part II,59.963,1974-12-20,The Godfather Part II,8.6,10635,18,80,0,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,L'Armée des ombres,17.461,1969-09-10,Army of Shadows,8.0,524,10752,18,53,0,0.0,0.0,0.0
336,天空の城ラピュタ,43.910,1986-08-02,Castle in the Sky,8.0,3480,12,14,16,28,0.0,0.0,0.0
337,Thirteen Lives,47.566,2022-07-18,Thirteen Lives,8.0,920,18,53,28,12,0.0,0.0,0.0
338,Redeeming Love,49.975,2022-01-21,Redeeming Love,8.0,229,10749,18,36,0,0.0,0.0,0.0
339,Limelight,10.025,1952-10-23,Limelight,8.0,434,18,10402,10749,0,0.0,0.0,0.0

In [82]:
## converting  column type from float64 to int

budget_movie[['popularity', 'production_budget', 'domestic_gross', 'worldwide_gross']] = budget_movie[['popularity', 'production_budget', 'domestic_gross', 'worldwide_gross']].astype(int)

In [83]:
top_20_movies_2023 = budget_movie.sort_values(by='popularity',ascending=False).head(30)
top_20_movies_2023

,original_title,popularity,release_date_x,title,vote_average,vote_count,genre_id_1,genre_id_2,genre_id_3,genre_id_4,production_budget,domestic_gross,worldwide_gross
34,Puss in Boots: The Last Wish,2589,2022-12-07,Puss in Boots: The Last Wish,8.4,4309,16,12,35,10751,0,0,0
81,Guillermo del Toro's Pinocchio,407,2022-11-09,Guillermo del Toro's Pinocchio,8.3,1976,16,14,18,10402,0,0,0
86,劇場版「鬼滅の刃」無限列車編,384,2020-10-16,Demon Slayer -Kimetsu no Yaiba- The Movie: Mug...,8.3,2970,16,28,12,14,0,0,0
73,Top Gun: Maverick,372,2022-05-24,Top Gun: Maverick,8.3,6244,28,18,0,0,0,0,0
322,Huevitos Congelados,368,2022-12-14,A Frozen Rooster,8.0,241,16,12,35,10751,0,0,0
98,Avengers: Infinity War,309,2018-04-25,Avengers: Infinity War,8.3,26445,12,28,878,0,300000000,678815482,2048134200
298,Everything Everywhere All at Once,274,2022-03-24,Everything Everywhere All at Once,8.0,3408,28,12,878,0,0,0,0
125,Hacksaw Ridge,257,2016-10-07,Hacksaw Ridge,8.2,11993,18,36,10752,0,40000000,67209615,168904682
330,Sing 2,213,2021-12-01,Sing 2,8.0,3541,16,12,35,10751,0,0,0
233,Emancipation,204,2022-12-02,Emancipation,8.1,791,28,18,53,0,0,0,0
94,Avengers: Endgame,185,2019-04-24,Avengers: Endgame,8.3,22760,12,878,28,0,0,0,0
272,Harry Potter and the Prisoner of Azkaban,183,2004-05-31,Harry Potter and the Prisoner of Azkaban,8.0,19190,12,14,0,0,130000000,249757726,796907323
42,Interstellar,177,2014-11-05,Interstellar,8.4,30724,12,18,878,0,165000000,188017894,666379375
183,Harry Potter and the Deathly Hallows: Part 2,175,2011-07-07,Harry Potter and the Deathly Hallows: Part 2,8.1,18459,14,12,0,0,0,0,0
146,映画 この素晴らしい世界に祝福を！紅伝説,161,2019-08-30,KonoSuba: God's Blessing on this Wonderful Wor...,8.2,442,16,12,35,14,0,0,0
123,The Help,157,2011-08-09,The Help,8.2,7009,18,0,0,0,25000000,169705587,213120004
43,20세기 소녀,156,2022-10-06,20th Century Girl,8.4,407,10749,18,0,0,0,0,0
334,Catch Me If You Can,149,2002-12-16,Catch Me If You Can,8.0,13593,18,80,0,0,0,0,0
206,Cruella,143,2021-05-26,Cruella,8.1,7994,35,80,0,0,0,0,0
116,Coco,132,2017-10-27,Coco,8.2,16944,10751,16,14,10402,175000000,209726015,798008101
254,The Wolf of Wall Street,116,2013-12-25,The Wolf of Wall Street,8.0,21194,80,18,35,0,100000000,116900694,389870414
326,Toy Story,112,1995-10-30,Toy Story,8.0,16425,16,12,10751,35,30000000,191796233,364545516
101,The Lion King,110,1994-06-23,The Lion King,8.3,16301,10751,16,18,0,79300000,421785283,986214868
35,Spider-Man: Into the Spider-Verse,105,2018-12-14,Spider-Man: Into the Spider-Verse,8.4,12445,28,12,16,878,0,0,0
210,Nobody,103,2021-03-18,Nobody,8.1,5590,28,80,53,0,0,0,0
0,The Godfather,101,1972-03-14,The Godfather,8.7,17564,18,80,0,0,7000000,134966411,268500000
38,The Lord of the Rings: The Fellowship of the Ring,99,2001-12-18,The Lord of the Rings: The Fellowship of the Ring,8.4,22348,12,14,28,0,109000000,315544750,887210985
137,Joker,97,2019-10-01,Joker,8.2,22319,80,53,18,0,0,0,0
51,Inception,94,2010-07-15,Inception,8.4,33285,28,878,12,0,160000000,292576195,835524642
87,Life in a Year,94,2020-11-27,Life in a Year,8.3,1291,18,10749,0,0,0,0,0

## MICROSOFT DATA - WEB SCRAPING FROM ANNUAL REPORT

In [84]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [140]:
# Create an URL object

url = 'https://www.microsoft.com/investor/reports/ar22/index.html'

# Create object page

page = requests.get(url)
print(page.status_code)

200

In [143]:
## html parse
soup = BeautifulSoup(response.content, "html.parser")

## find the parent
parent_revenue = soup.find('p', text='We have recast certain previously reported amounts in the table above to conform to the way we internally manage and monitor our business.').parent

# find the table
table = parent_revenue.find('table')

# read the table into a dataframe
df = pd.read_html(str(table))[0]

# print the dataframe
print(df)

                                      0          1   2          3   4  \
0                         (In millions)        NaN NaN        NaN NaN
1                   Year Ended June 30,       2022 NaN       2021 NaN
2                               Revenue        NaN NaN        NaN NaN
3   Productivity and Business Processes   $ 63,364 NaN   $ 53,915 NaN
4                     Intelligent Cloud      75251 NaN      60080 NaN
5               More Personal Computing      59655 NaN      54093 NaN
6                                 Total  $ 198,270 NaN  $ 168,088 NaN
7                      Operating Income        NaN NaN        NaN NaN
8   Productivity and Business Processes   $ 29,687 NaN   $ 24,351 NaN
9                     Intelligent Cloud      32721 NaN      26126 NaN
10              More Personal Computing      20975 NaN      19439 NaN
11                                Total   $ 83,383 NaN   $ 69,916 NaN

            5
0         NaN
1        2020
2         NaN
3    $ 46,398
4       48366
5       48251
6   $ 143,015
7         NaN
8    $ 18,724
9       18324
10      15911
11   $ 52,959

In [130]:
df.head(20)

,0,1,2,3,4,5
0,(In millions),NaN,NaN,NaN,NaN,NaN
1,"Year Ended June 30,",2022,NaN,2021,NaN,2020
2,Revenue,NaN,NaN,NaN,NaN,NaN
3,Productivity and Business Processes,"$ 63,364",NaN,"$ 53,915",NaN,"$ 46,398"
4,Intelligent Cloud,75251,NaN,60080,NaN,48366
5,More Personal Computing,59655,NaN,54093,NaN,48251
6,Total,"$ 198,270",NaN,"$ 168,088",NaN,"$ 143,015"
7,Operating Income,NaN,NaN,NaN,NaN,NaN
8,Productivity and Business Processes,"$ 29,687",NaN,"$ 24,351",NaN,"$ 18,724"
9,Intelligent Cloud,32721,NaN,26126,NaN,18324
10,More Personal Computing,20975,NaN,19439,NaN,15911
11,Total,"$ 83,383",NaN,"$ 69,916",NaN,"$ 52,959"

In [155]:
df = df.drop(columns=[2, 4,])

In [156]:
df.rename(columns = {0:'Revenue (In millions)', 1:'2022', 3: '2021', 5:'2020'}, inplace=True)

In [157]:
df.drop(df.index[0:3], inplace=True)

In [158]:
df.head(10)

                  Revenue (In millions)       2022       2021       2020
3   Productivity and Business Processes   $ 63,364   $ 53,915   $ 46,398
4                     Intelligent Cloud      75251      60080      48366
5               More Personal Computing      59655      54093      48251
6                                 Total  $ 198,270  $ 168,088  $ 143,015
7                      Operating Income        NaN        NaN        NaN
8   Productivity and Business Processes   $ 29,687   $ 24,351   $ 18,724
9                     Intelligent Cloud      32721      26126      18324
10              More Personal Computing      20975      19439      15911
11                                Total   $ 83,383   $ 69,916   $ 52,959